@inherits RazorFunction

@functions {
	public override string FunctionDescription
	{
		get { return "Page"; }
	}
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
	<single-page-checkout xmlns:v-bind="v-bind" xmlns:v-on="v-on" xmlns:v-slot="v-slot">
		<checkout-step v-slot="step" v-bind:before-change="shippingSelect">
			@Function("Composer.Checkout.UserInformation")
		</checkout-step>
		<checkout-step v-slot="step">
			@Function("Composer.Checkout.Shipping")
		</checkout-step>
				<checkout-step v-slot="step">
			@Function("Composer.Checkout.Shipping")
		</checkout-step>
	</single-page-checkout>
</body>
</html>