@inherits RazorFunction
@using Orckestra.Composer.Providers.Localization

@functions {
    public override string FunctionDescription
    {
        get { return "User Information"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>

</head>
<body>
    <div data-oc-controller="SingleCheckout.UserInfo">
        <br />
        <div class="card">
            <div class="card-header">
                <h4 class="float-left">
                    Information
                </h4>
                <button class="btn btn-outline-secondary float-right"
                    v-show='!editingCustomer' 
                    v-on='{ click: editCustomer }'>
                    Edit
                </button>
            </div>
            <div v-if="Customer" class="card-body">
                <div v-show='!editingCustomer'>
                    <span v-text="Customer.FirstName" class="font-weight-bold"></span>
                    <span v-text="Customer.LastName" class="font-weight-bold"></span>
                    <div v-text="Customer.Email"></div>
                </div>
                <div v-show='editingCustomer'>
                    <div class="form-group">
                        <input v-model="cartViewModel.Customer.Email"
                               class="form-control"
                               required="required"
                               placeholder="Email" type="email" />
                    </div>
                    <div class="form-group">
                        <input v-model="cartViewModel.Customer.FirstName"
                               class="form-control"
                               placeholder="First Name" type="text" />
                    </div>
                    <div>
                        <input v-model="cartViewModel.Customer.LastName"
                               class="form-control"
                               placeholder="Last Name" type="text" />
                    </div>
                </div>
            </div>
            <div v-else="v-else" class="card-body">
                <div class="form-group">
                    <input class="form-control"
                           placeholder="First Name" type="text" />
                </div>
                <div class="form-group">
                    <input class="form-control"
                           placeholder="Last Name" type="text" />
                </div>
                <div class="form-group">
                    <input class="form-control"
                           required="required"
                           placeholder="Email" type="email" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
