.breadcrumb {
    display: inline-block;

    > li {
        + li:before {
            padding: 0;
        }
    }
    > .active {
        font-weight: bold;
        &:before {
            font-weight: normal;
        }
    }
}
