.btn {
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
       @include opacity(.5);
    }
    white-space: normal;
}

.btn-inactive {
    @include button-variant($gray-light, $btn-default-bg, $btn-default-border);
}

button, a {
    &[aria-expanded="true"] {
        .fa-caret-up {
            display: inline;
        }
        .fa-caret-down {
            display: none;
        }
    }
    &[aria-expanded="false"] {
        .fa-caret-up {
            display: none;
        }
        .fa-caret-down {
          display: inline;  
        }
    }
}