
.close {
    opacity: 1;
    position: absolute;
    top: -8px;
    right: -6px;
    font-size: 30px;
    text-shadow: none;

    &:hover {
        opacity: 1;
        filter: none;
        color: $gray-darker;
    }
}

.alert-dismissible {
    .close {
        font-size: ($font-size-base * 1.5);
    }
}