<div data-templateid="ChangePasswordSuccessful">
    {{#if_eq Status 'Success'}}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="multiline-message  text-success">
                    <span class="fa  fa-check-circle-o  fa-lg  multiline-message-icon"></span>&#32;
                    <span>{{localize 'MyAccount' 'L_ChangePasswordSuccess'}}</span>
                </div>
            </div>
        </div>
    {{/if_eq}}
</div>