@inherits RazorFunction
@using Orckestra.Composer.Providers.Localization

@functions {
    public override string FunctionDescription
    {
        get { return "Checkout version of header of the page."; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <header class="masthead">
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-10  col-xs-push-1  col-md-push-0  col-md-6  text-xs-center  text-md-left">
                    <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Header.HomeLogo" />
                </div>
            </div>
        </div>

        <hr />
    </header>
</body>
</html>