.bs-stepper {
    [v-cloak] { display:none; }

    .bs-stepper-tab {
        position: relative;

        &:after, &:before {
            width: 50%;
            height: 8px;
            background: lightgray;
            position: absolute;
            top: calc( 1.5rem - 4px);
            z-index: -1;
        }

        &:not(:last-child):after {
            content: '';
            right: 0;
        }

        &:not(:first-child):before {
            content: '';
            left: 0;
        }
    }

    .step-trigger {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        color: black;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: none;
        border-radius: .25rem;
        outline: none;

        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        &:disabled, &.disabled {
            pointer-events: none;
        }
    }

    .bs-stepper-circle {
        margin: auto;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        color: #fff;
        background-color: lightgray;

        span {
            line-height: 3rem;
        }
    }



    .active {
        .bs-stepper-circle {
            background-color: #087299;
        }
    }

    .passed {
        .bs-stepper-circle {
            background-color: #4E9E4E;
        }
    }

    .bs-stepper-header {
        display: flex;
        background: #fff;

        &.sticky-top {
            top: 42px;
            padding-top: 10px;
        }
    }

    .bs-stepper-content {
        padding: 0 20px 20px;
    }
}

@include media-breakpoint-down(sm) {
    .bs-stepper{
        .step-trigger {
            flex-direction: column;
            padding: 10px;
        }

        .bs-stepper-header {
            margin: 0 -10px;
            text-align: center;
        }

        .bs-stepper-content {
            padding: 0;
        }

        .bs-stepper-title,  .bs-stepper-mobiletitle {
            font-weight: bold;
            font-size: 85%;
            line-height: 1.1;
        }
    }
}

.stepper-step-container {
    position: relative;

    .loading-spinner {
        position: absolute; top: 50%; left: 50%; margin-left: -1rem;
        z-index: 10;
        display: none;
    }

    &.loading {
        opacity: 0.6;
        .loading-spinner {
            display: block;
        }
    }
}

.text-height-0 {
    line-height: 1!important;
}
.text-height-1 {
    line-height: 1.5!important;
}
.text-height-2 {
    line-height: 2!important;
}
.text-height-3 {
    line-height: 2.5!important;
}
.text-height-4 {
    line-height: 3!important;
}
.text-height-5 {
    line-height: 3.5!important;
}
