<div data-oc-controller="Product.RelatedProducts" data-context="{{JsonContext}}" class="row">
    {{> RelatedProducts}}
</div>
<div data-concern="relatedProduct">
    {{> ProductQuickViewDataBlade}}
</div>