@inherits RazorFunction
@using Orckestra.Composer.Cart
@using Orckestra.ExperienceManagement.Configuration;

@functions {
	public override string FunctionDescription
	{
		get { return "Mini Cart Button"; }
	}

    public ISiteConfiguration SiteConfiguration { get; set; }
    public IComposerContext ComposerContext { get; set; }
}

@{
    var pages = SiteConfiguration.GetPagesConfiguration(ComposerContext.CultureInfo, HomePageNode.Id);
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
    <head>
    </head>
    <body>
        <div data-oc-controller="Cart.MiniCartButton">
            <div id="vueMiniCartButton" v-cloak="true">
                <a href="~/page(@pages.CartPageId)" class="d-none d-md-block btn btn-primary btn-block"
                   title="@Html.Localize("MiniCart", "H_MinicartTitle")">
                    <i class="fa fa-lg fa-shopping-cart" aria-hidden="true"></i>
                    <span v-if="!Cart.IsCartEmpty" class="badge badge-top-right badge-pill badge-danger">{{Cart.TotalQuantity}}</span>&#160;
                    <span>{{Cart.OrderSummary.SubTotal}}</span>
                </a>
            </div>
        </div>
    </body>
</html>