@inherits RazorFunction
@using Orckestra.Composer.Search.ViewModels
@using Orckestra.Composer.Search.Facets
@using Newtonsoft.Json

@functions {
    public override string FunctionDescription
    {
        get { return "Base Selected Facets"; }
    }

    [FunctionParameter(Label = "", Help = "")]
    public FacetSettingsViewModel FacetSettings { get; set; }

    [FunctionParameter(Label = "", Help = "", DefaultValue = null)]
    public List<string> LandingPageUrls { get; set; }


    public SelectedFacets SelectedFacets
    {
        get
        {
            return FacetSettings?.SelectedFacets;
        }
    }

    public string FirstLandingPageUrl
    {
        get
        {
            return LandingPageUrls != null ? LandingPageUrls[0] : "";
        }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div data-oc-controller="Product.SelectedSearchFacets" 
         data-context="@JsonConvert.SerializeObject(SelectedFacets, new Newtonsoft.Json.Converters.StringEnumConverter())" 
         data-landingpageurls="@JsonConvert.SerializeObject(LandingPageUrls)"
         id="vueSelectedSearchFacets" v-cloak="true">
        <div v-if="Facets.length" class="card facets-card mb-3 selected-facets">
            <div class="card-header">
                @Html.Localize("List-Search", "L_Selection")
                <a v-if="IsAllRemovable" 
                   class="float-right"
                   data-qa="search-refiners-clear-all"
                   v-on:click="clearSelectedFacets(@FirstLandingPageUrl)">
                    @Html.Localize("List-Search", "B_ClearAll")
                </a>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li v-for="(facet, index) in Facets"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        {{facet.DisplayName}}
                        <span class="badge badge-light">
                            <a v-if="facet.IsRemovable"
                                class="float-right" data-qa="search-refiner-remove"
                                v-on:click="removeSelectedFacet(facet, index)"
                                v-bind:title="facet.DisplayName">
                                    <span class="fa  fa-times  fa-lg"></span>
                            </a>
                            <span v-else="v-else" class="float-right  fa  fa-times  fa-lg  text-muted"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
