button,
a {
    &[aria-expanded="true"] {
        .fa-caret-up {
            display: inline;
        }
        .fa-caret-down {
            display: none;
        }
    }
    &[aria-expanded="false"] {
        .fa-caret-up {
            display: none;
        }
        .fa-caret-down {
            display: inline;
        }
    }
    &.btn {
        &.disabled,
        &:disabled,
        fieldset[disabled] & {
            opacity: 0.5;
        }
		font-family: "Roboto Condensed";
		font-weight: bold;
        white-space: normal;
        text-transform: uppercase;
        border-radius: $btn-border-radius;
        &.btn-primary {}
		&.btn-default {
			border-color: $gray-400;
			background-color: $gray-100;
		}
        &.btn-dashed-block {
            width: 100%;
            border: dashed 2px $gray-400;
            background: #fff;
            font-weight: bold;
            color: $primary;
            &:hover,
            &:focus {
                border: dashed 2px $gray-600;
                color: $primary;
            }
        }
    }
}

.btn-link {
    .more {
        display: none;
    }

    &.collapsed {
        .less {
            display: none;
        }

        .more {
            display: inline-block;
        }
    }
}