.moneris {
    // height of a label + input inside a form group.
    $form-group-computed-height: $line-height-computed + $input-height-base + $form-group-margin-bottom + 5px;
    position: relative;
    &-label {
        display: block;
        position: absolute;
        left: 0;
    }
    &-card {
        top: 0;
    }
    &-expiration {
        top: $form-group-computed-height;
    }
    &-ccv {
        top: $form-group-computed-height * 2;
    }
}