@inherits RazorFunction
@using Orckestra.Composer.Providers.Localization

@functions {
    public override string FunctionDescription
    {
        get { return "Checkout version of header of the page."; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <header class="masthead">
        <div class="container-md mt-2">
            <div class="row">
                <div class="col-10  offset-1  offset-lg-0  col-lg-6  text-sm-center  text-lg-left">
                    <a href="@HomePageNode.Url" class="logo"><img src="~/UI.Package/Images/better-retail.png" alt="logo" /></a>
                </div>
            </div>
        </div>
        <hr />
    </header>
</body>
</html>
