@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Header of the page."; }
    }

    [FunctionParameter(Label = "LanguageSwitch Component")]
    public XhtmlDocument LanguageSwitch { get; set; }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <header class="masthead masthead-with-mega-menu shadow-sm">
        <div class="header">
            <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark p-0">
                <div class="container-md px-lg-2">

                    <ul class="navbar-nav">
                        <li>
                            <button class="navbar-toggler d-block d-md-none main-nav-toggle" aria-label="Menu" type="button" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </li>

                    </ul>
                    @Markup(LanguageSwitch)
                    <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Header.StickyLinks" />

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Store.LocatorInHeader" /></li>
                        <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Membership.SignInHeader" />
                        <li class="nav-item"><f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.WishList.WishListInHeader" /></li>
                        <li class="nav-item sps--blw-show-block">
                            <a class="nav-link" href="#" title="@Html.Localize("General", "Search")" data-focus-element="#search-input"><span class="fa  fa-search"></span></a>
                        </li>
                        <li class="nav-item position-relative">
                            <f:function name="Composite.Web.Html.Template.PageTemplateFeature" xmlns:f="http://www.composite.net/ns/function/1.0">
                                <f:param name="FeatureName" value="Minicart" />
                            </f:function>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>

        <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Header.MainMenu" />

        <div class="container-fluid bg-light  py-2  shadow-sm">
            <div class="container-md">
                <div class="row justify-content-between ">
                    <div class="col-10 col-xl-6 mx-auto mx-lg-0 justify-content-center align-self-center">
                        <a href="@HomePageNode.Url" class="logo">
                            <img src="~/UI.Package/Images/better-retail.png" alt="logo" />
                        </a>
                    </div>
                    <div class="col-12 col-xl-6  justify-content-center align-self-center">
                        <div class="d-none d-md-block clearfix">
                            <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Header.OptionalLinks" />
                        </div>
                        <div>
                            <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.SearchBox">
                                <f:param name="Autocomplete" value="true" />
                                <f:param name="MaxProductsAutocompleteCount" value="6" />
                            </f:function>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
</body>
</html>
