@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get  { return "Outputs the title of the Page."; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
    <head>
    </head>
    <body>
		<h1>@CurrentPageNode.Title</h1>
    </body>
</html>