@inherits RazorFunction
@using Orckestra.Composer.Providers.Localization;


@{
    var copyrightValue = LocalizationHelper.LocalizedFormat("General", "L_Copyright", DateTime.Now.Year, System.Threading.Thread.CurrentThread.CurrentCulture);
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <p class="text-copy small">@copyrightValue</p>
</body>
</html>