<div data-templateid="MyRecurringScheduleDetails" class="">
    {{#if IsLoading}}
        {{>Loading}}
    {{else}}
        {{>RecurringScheduleDetailsUpdateSuccessful}}
        {{>RecurringScheduleDetailsFrequency}}
        {{>RecurringScheduleDetailsNextOccurence}}  
        {{>RecurringScheduleDetailsShippingMethods}}      
        {{>RecurringScheduleDetailsAddresses}}
        {{>RecurringScheduleDetailsPayments}}        
        {{>RecurringScheduleDetailsActions}}
    {{/if}}   
</div>