<div data-templateid="MyRecurringSchedule" >
	{{#if_eq TotalQuantity 0}}
		<span class="text-muted">{{localize 'RecurringSchedule' 'L_RecurringOrderSchedulesEmpty'}}</span>
	{{else}}
		{{>RecurringOrderTemplates}}
	{{/if_eq}}    
</div>