<div data-templateid="MyRecurringScheduleDetails" class="panel  panel-default">
    {{#if IsLoading}}
        {{>Loading}}
    {{else}}
        {{>RecurringScheduleDetailsFrequency}}
        {{>RecurringScheduleDetailsNextOccurence}}  
        {{>RecurringScheduleDetailsShippingMethods}}      
        {{>RecurringScheduleDetailsAddresses}}
        {{>RecurringScheduleDetailsPayments}}
    {{/if}}   
</div>