<div data-templateid="MyRecurringSchedule" class="panel  panel-default">
    <div class="panel-body">
        {{#if_eq TotalQuantity 0}}
	        {{{EmptyContent}}}
	   {{else}}
	       todo
	   {{/if_eq}}        
   </div>   
</div>