<div data-templateid="RecurringOrderTemplates">
    {{!-- {{>RecurringOrderTemplatesInfos}} --}}
    <div>
        {{#if IsLoading}} 
           {{>Loading}} 
        {{else}}
           {{>RecurringOrderTemplatesLineItems}}
        {{/if}} 
   </div>
</div>