       
<div class="col-xs-12 text-right">
    <button class="btn btn-secondary" type="button"  id="btnCancelRecurringOrderTemplate"        
        data-oc-click="cancelRecurringOrderTemplate" data-scheduleUrl="{{ScheduleUrl}}">{{localize 'General' 'B_Cancel'}}</button>
    <button class="btn btn-primary"
        data-oc-click="saveRecurringOrderTemplate">{{localize 'MyAccount' 'B_SaveChanges'}}
        <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
    </button>
</div>