<div data-templateid="RecurringScheduleDetailsUpdateSuccessful">
    {{#if_eq UpdateStatus 'Success'}}
        <div class="panel  panel-default">
            <div class="panel-body">
                <div class="multiline-message  text-success">
                    <span class="fa  fa-check-circle-o  fa-lg  multiline-message-icon"></span>&#32;
                    <span>{{localize 'RecurringSchedule' 'L_UpdateRecurringScheduleSuccess'}}</span>
                </div>
            </div>
        </div>
    {{/if_eq}}
</div>