<div data-templateid="RecurringOrderTemplates">
   {{>GeneralErrorContainer}}
    <div>
        {{#if IsLoading}} 
           {{>Loading}} 
        {{else}}
           {{>RecurringOrderTemplatesLineItems}}

           {{>RecurringOrderTemplateRemoveConfirmationModal}}           
        {{/if}} 
   </div>
</div>