<div data-templateid="RecurringOrderTemplatesInfos">
    <div class="panel  panel-default">
        {{!-- {{>RecurringOrderTemplatesModifyLineItem}} 
		{{>RecurringOrderTemplatesRemoveConfirm}} --}}
    </div>
</div>