<div data-oc-controller="MyAccount.MyRecurringSchedule">    
    <div class="panel  panel-default">
        <div class="panel-heading">
            <h2 class="h3">{{localize 'RecurringSchedule' 'T_RecurringSchedule' }}</h2>
        </div>
        <div class="panel-body">
            {{>MyRecurringSchedule}}
        </div>
    </div>
</div>