@inherits RazorFunction

@functions {
	public override string FunctionDescription
	{
		get { return "Page"; }
	}
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <single-page-checkout xmlns:v-bind="v-bind" xmlns:v-on="v-on" xmlns:v-slot="v-slot" v-bind:start-index="StartStep">
        <checkout-step v-slot="step" v-bind:before-change="processCustomer">
            @Function("Composer.SingleCheckout.Steps.UserInformation")
        </checkout-step>
        <checkout-step v-slot="step" v-bind:before-change="processShipping">
            @Function("Composer.SingleCheckout.Steps.Shipping")
        </checkout-step>
        <checkout-step v-slot="step">
            @Function("Composer.SingleCheckout.Steps.ReviewCart")
        </checkout-step>
        <checkout-step v-slot="step">
            @Function("Composer.SingleCheckout.Steps.Payment")
        </checkout-step>
    </single-page-checkout>
</body>
</html>