<div data-templateid="CheckoutPayment">
	{{#if IsLoading}}
		{{>Loading}}
	{{else}}
		<form id="PaymentForm" data-oc-submit="preventFormSubmit" method="post" autocomplete="on">

			{{#if_gt PaymentMethods.length 1}}
				{{>PaymentMethodList}}
			{{/if_gt}}

			{{!-- Active Payment Method Type is (new) credit card, show new credit card form --}}
			<div id="providers">
				{{#if IsProviderLoading}}
					{{>Loading}}
				{{/if}}
				
				{{#if ActivePaymentViewModel}}

					{{#if HaveMonerisPaymentProvider}}
							{{>MonerisCanadaPaymentProvider}}
					{{/if}}

					{{#if_eq ActivePaymentViewModel.ProviderType "OnSitePOSPaymentProvider" }}
						{{>OnSitePOSPaymentProvider ActivePaymentViewModel}}
					{{/if_eq}}
				{{/if}}
			</div>
		</form>
	{{/if}}
</div>