<div class="panel panel-default" data-oc-controller="Checkout.Payment" data-context="{{JsonContext}}">
	<div class="panel-heading">
        <h2 class="h3">{{localize 'MyAccount' 'T_PaymentMethod'}}</h2>
    </div>
    <div class="panel-body"> 
		{{>CheckoutPayment}}
	</div>
</div>