# Editors
.vs
.vscode
*.sln.ide
.idea

# Packages folders and files
node_modules
packages
*.nupkg

# Temp folders
.sass-cache
.tmp
.temp

# Deployment folders
UI.Package
_Published

# Temp folder for gulp tasks
Gulp/common

# Log files
npm.output
null.txt
tsUnitTests.karmalog

Framework
Workbench

NugetFiles/*.original
Solution Items/*.original