<div data-templateid="CartContent">
	{{#if IsLoading}}
		{{>Loading}}
	{{else}}
	    {{#if IsCartEmpty}}
	        {{>EmptyCart}}
	    {{else}}
	        {{>CartSummary}}
	    {{/if}}
    {{/if}}
</div>