<div id="addToCartModal" data-oc-controller="Product.QuickView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel">
    {{> GeneralErrorContainer}}
    {{> ProductQuickView}}
</div>
