@inherits RazorFunction
@using Orckestra.Composer.Configuration
@functions {
    public override string FunctionDescription
    {
        get { return "Javascript Includes"; }
    }

    public IGoogleSettings GoogleSettings { get; set; }
}

@{
    string MapApiKey = GoogleSettings.MapsApiKey;
}


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/UI.Package/JavaScript/bootstrap.min.js"></script>
    <script src="/UI.Package/JavaScript/lodash.min.js"></script>
    <script src="/UI.Package/JavaScript/handlebars.runtime.min.js"></script>
    <script src="/UI.Package/JavaScript/q-1.2.0.js"></script>
    <script src="/UI.Package/JavaScript/nouislider.js"></script>
    <script src="/UI.Package/JavaScript/parsley.min.js"></script>
    <script src="/UI.Package/JavaScript/slick.js"></script>
    <script src="/UI.Package/JavaScript/typeahead.js"></script>
    <script src="/UI.Package/JavaScript/scrollPosStyler.js"></script>
    <script src="/UI.Package/JavaScript/jquery.serialize-object.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(MapApiKey)&amp;libraries=places,geometry"></script>
    <script type="text/javascript" src="/UI.Package/JavaScript/google.maps.utility.library.v3.markerwithlabel_packed.js"></script>
    <script src="/UI.Package/JavaScript/orckestra.composer.js"></script>
    <script src="/UI.Package/JavaScript/composer-templates.min.js"></script>
    <f:function name="Composer.DatePicker.DatePicker.Includes" />
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script id="vuejs" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    }
    else
    {
        <script id="vuejs" src="~/UI.Package/JavaScript/vue.min.js"></script>
    }
</body>
</html>