<a href="{{Url}}" title="{{localize 'MyAccount' 'H_WishListInHeaderTitle'}}" data-qa="wishlist-header" data-oc-controller="MyAccount.WishListInHeader">
    <span class="fa  fa-heart  fa-lg"></span>&#160;
    <span class="hidden-xs  hidden-sm  affix-hidden">{{localize 'MyAccount' 'H_WishListInHeaderTitle'}}&#160;</span>
    
    {{>WishListQuantity}}
</a>  