<a href="{{Url}}" title="{{localize 'MyAccount' 'H_WishListInHeaderTitle'}}" data-qa="wishlist-header" data-oc-controller="MyAccount.WishListInHeader">
    <span class="fa  fa-heart  fa-lg" aria-hidden="true"></span>&#160;
    <span class="hidden-xs  hidden-sm  affix-hidden">{{localize 'MyAccount' 'H_WishListInHeaderTitle'}}&#160;</span>
    
    <span aria-live="assertive" aria-atomic="true">{{>WishListQuantity}}</span>
</a>  