/**
 * Images dimensions
 * Used when calculating ratios. Used mostly so blocks take
 * the right space till the images are loaded (ie:result product)
 * Mostly used for intrinsic image ratio for responsive.
 * http://alistapart.com/article/creating-intrinsic-ratios-for-video
 */

// image on product in search result
$product-image-width: 388;
$product-image-height: 498;

// large image on product page
$product-xl-image-width: 410;
$product-xl-image-height: 526;

// thumbnail image on product page
$product-thumb-image-width: 80;
$product-thumb-image-height: 103;

// calculated ratios
// longer side / shorter side
$product-image-ratio: $product-image-height / $product-image-width;
$product-xl-image-ratio: $product-xl-image-height / $product-xl-image-width;
$product-thumb-image-ratio: $product-thumb-image-height / $product-thumb-image-width;

/**
 * Custom Font sizes
 */
$font-size-h1-sm: $h1-font-size * .8;
$font-size-h2-sm: $h2-font-size;
$font-size-h3-sm: $h3-font-size;
$h4-font-size-sm: $h4-font-size;
$font-size-h5-sm: $h5-font-size;
$font-size-h6-sm: $h6-font-size;

/**
 * Font awesome config
 */
$fa-font-path: "../Fonts/font-awesome";
$fa-font-size-base: 14px;
$fa-css-prefix: fa;
$fa-version: "4.3.0";
$fa-border-color: #eee;
$fa-inverse: #fff;
$fa-li-width: (30em / 14);

/** Custom widths */
$col-md-3-width: 25%;
$col-lg-2-width: 16.66667%;

* {
    [v-cloak] { display:none; }
}