@using Composite.AspNet.Razor

@helper LoadingSpinner()
{
    <div class="loading-spinner">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">@Html.Localize("General" , "L_Loading")</span>
        </div>
    </div>
}

