@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Shipping Address"; }
    }

    public IComposerContext ComposerContext { get; set; }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on" xmlns:v-slot="v-slot">
<head>
</head>
<body>
    @if (ComposerContext.IsAuthenticated)
    {
        <div data-oc-controller="SingleCheckout.ShippingAddressRegistered">
            <div v-for="(address, index) in RegisteredAddresses"
                 v-bind:key="address.Id"
                 class="border rounded p-3 mb-2 bg-white"
                 v-bind:class="{ 'bg-selected border-primary': address.Id == ShippingAddress.AddressBookId }">
                @CheckoutHelpers.AddressRadioOption("ShippingAddressId", "ShippingAddress.AddressBookId", "changeRegisteredShippingAddress")
            </div>
            <div v-if="Mode.AddingNewAddress" class="border-top mt-4 pt-4">
                @Forms.Address.Form("Cart.ShippingAddress", "addNewAddressForm", true)
            </div>

            <button v-if="!Mode.AddingNewAddress" class="btn btn-dashed-block"
                    v-on:click="addNewAddressMode"
                    v-bind:disabled="IsLoading"
                    data-qa="shipping-add-address-link">
                @Html.Localize("MyAccount", "B_AddNewAddress")
            </button>

        </div>
    }
    else
    {
        <div data-oc-controller="SingleCheckout.ShippingAddress">
            @Forms.Address.Form("Cart.ShippingAddress", "addressForm")
        </div>
    }
</body>
</html>
