<div data-oc-controller="Product.ProductSpecifications" data-context="{{JsonContext}}">
    <div class="row">
        <div class="col-md-10  col-md-offset-1">
            <hr/>
            <h2>{{localize 'ProductPage' 'L_ProductSpecifications'}}</h2>
            {{>Attributes}}
        </div>
    </div>
</div>
