
@mixin tile-gradient-right($top) {
    content: '';
    position: absolute;
    top: $top;
    right: 0;
    width: 10%;
    height: $spacer;
    @include gradient-x(rgba(255,255,255,0), $body-bg, 0%, 100%);
    pointer-events: none;
}

.product-tile {
    $lines-of-text: 3;
    background-color: $light;
    border: solid 1px #C4C4C4;

    .add-to-wishlist {
        position: absolute;
        top: 5px;
        right: 15px;
    }

    .product-tile-text {
         // 3 lines of text + half a line of spacing
        height: ($line-height-base * $font-size-base) * 3;
        padding-top: 3px;
        position: relative;
        overflow: hidden;
    }

    .product-tile-brand {
        white-space: nowrap;
        font-weight: bold;
        text-transform: uppercase;
    }

    .product-tile-price {
        height: ceil($h4-font-size * $line-height-base);
    }

    .product-tile-special-price {
        position: relative;
        height: ceil(($line-height-base * $font-size-sm));
        del {
            position: absolute;
            bottom: 0;
        }
    }

    .product-tile-media {
        display: flex;
        background-color: #fff;
        height: 0;
        padding-bottom: 100%;
        position: relative;
    }

    .product-tile-recurring {
        float:left;
        height: 20px;
        margin-right: 5px;
        width: 20px;
    }
}
