@mixin tile-gradient-right($top) {
    content: '';
    position: absolute;
    top: $top;
    right: 0;
    width: 10%;
    height: $spacer;
    @include gradient-x(rgba(255, 255, 255, 0), $body-bg, 0%, 100%);
    pointer-events: none;
}

.product-tile {
    $lines-of-text: 3;
    background-color: $light;
    border: solid 1px $gray-400;
    position: relative;
    &-wishlist {
        position: absolute;
        top: map-get($spacers, 2);
        right: map-get($spacers, 2);
    }
    .product-tile-text {
        // 3 lines of text + half a line of spacing
        height: ($line-height-base * $font-size-base) * 3;
        padding-top: map-get($spacers, 2);
        position: relative;
        overflow: hidden;
        a {
            color: $gray-800;
        }
    }
    .product-tile-brand {
        white-space: nowrap;
        font-weight: bold;
        text-transform: uppercase;
    }
    .product-tile-badges{ 
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
    }

    .product-tile-price {
        height: ceil($h4-font-size * $line-height-base);
    }
    .product-tile-special-price {
        position: relative;
        height: ceil(($line-height-base * $font-size-sm));
        del {
            position: absolute;
            bottom: 0;
        }
    }
    .product-tile-media {
        display: flex;
        background-color: #fff;
        height: 0;
        padding-bottom: $product-image-ratio * 100%;
        position: relative;
        overflow: hidden;
    }
    .product-tile-recurring {
        float: left;
        height: map-get($spacers, 2);
        margin-right: ($spacer / 2);
        width: map-get($spacers, 2);
    }
}