@mixin tile-gradient-right($top) {
    content: '';
    position: absolute;
    top: $top;
    right: 0;
    width: 10%;
    height: $spacer;
    @include gradient-x(rgba(255, 255, 255, 0), $body-bg, 0%, 100%);
    pointer-events: none;
}

@mixin banner-bg($parent, $color) {
    #{$parent} {
        background-color: transparentize($color, 0.2) !important;
    }
}

.product-tile {
    $lines-of-text: 3;
    background-color: $lighter;
    border: solid 1px $gray-400;
    position: relative;
    flex-direction: row;
    *:not(.slick) & {
        flex-direction: row;
    }
    @include media-breakpoint-up(sm) {
        flex-direction: column;
        *:not(.slick) & {
            flex-direction: column;
        }
    }
    &-wishlist {
        position: absolute;
        top: 0;
        right: 0;
    }
    .product-tile-information {
        padding: map-get($spacers, 2);
        @include media-breakpoint-down(xs) {
            padding: $spacer;
            *:not(.slick) & {
                flex: 1 1 0;
            }
        }
    }
    .product-tile-text {
        // 3 lines of text + half a line of spacing + Brand Name
        height: ($line-height-base * 18px) * 4;
        position: relative;
        overflow: hidden;
        a {
            font-size: 18px;
            font-family: "im_fell_english_pro";
            line-height: $line-height-base;
            color: $gray-800;
        }
        padding-right: 25px;
        @include media-breakpoint-up(sm) {
            padding-right: 0;
        }
    }
    .product-tile-brand {
        white-space: nowrap;
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        color: $gray-700;
    }
    .product-tile-format {
        padding-top: 5px;
    }
    .product-tile-badges {
        position: absolute;
        top: $spacer;
        left: $spacer;
        &.list-unstyled li {
            margin-bottom: $spacer;
        }
        @include media-breakpoint-down(xs) {
            top: unset;
            bottom: -17px;
        }
    }
    .product-tile-price {
        font-family: "Roboto Condensed", sans-serif;
        height: ceil(44px * $line-height-base);
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: $spacer;
        .display-price {
            .h4 {
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -0.14rem;
                line-height: 1;
            }
            letter-spacing: -0.05rem;
            font-size: 12px;
        }
        &-per-unit {
            margin-left: auto;
            letter-spacing: -0.05rem;
        }
        .original-price {
            letter-spacing: -0.05rem;
            flex: 1 0 100%;
        }
    }
    .product-tile-special-price {
        font-family: "Roboto Condensed", sans-serif;
        position: relative;
        height: ceil(($line-height-base * 20px));
        font-size: 20px;
        del {
            position: absolute;
            bottom: 0;
        }
    }
    .product-tile-media {
        display: flex;
        background-color: #fff;
        height: 0;
        position: relative;
        overflow: hidden;
        width: 5/12 * 100%;
        padding-bottom: 5/12 * 100%;
        @include media-breakpoint-up(sm) {
            width: 100%;
            padding-bottom: $product-image-ratio * 100%;
        }
        >img.img-fluid {
            margin-top: $spacer*2 !important;
            max-width: calc(100% - 40px);
        }
    }
    .product-tile-recurring {
        float: left;
        height: map-get($spacers, 2);
        margin-right: ($spacer / 2);
        width: map-get($spacers, 2);
    }
    .product-tile-ribbon {
        width: 110px;
        height: 110px;
        overflow: hidden;
        position: absolute;
        top: -10px;
        right: -10px;
    }
    .product-tile-ribbon::before,
    .product-tile-ribbon::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border-top-color: transparent;
        border-right-color: transparent;
        border: 5px solid;
    }
    .product-tile-ribbon::before {
        top: 0;
        left: 0;
    }
    .product-tile-ribbon::after {
        bottom: 0;
        right: 0;
    }
    .product-tile-ribbon span {
        position: absolute;
        display: block;
        width: 170px;
        padding: 5px 0;
        font: 500 10px/1 'Lato', sans-serif;
        text-transform: uppercase;
        text-align: center;
        left: -20px;
        top: 45px;
        transform: rotate(45deg);
        box-shadow: 0 1px 2px #ccc;
    }
    .product-tile-banner {
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
    }
    .product-tile-banner span {
        display: inline-block;
    }
    .product-tile-banner {
        @each $color,
        $value in $theme-colors {
            @include banner-bg(".bg-#{$color}", $value);
        }
    }
}