.bg-selected {
    background-color: #ebf1f3 !important;
}

.bg-cover {
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}