.logo {
    margin-top: 10px;
    margin-bottom: map_get($spacers, 3);
    display: block;
    @include media-breakpoint-up(lg) {
        margin-bottom: 10px;
        display: inline-block;
    }
    img {
        width: 100%;
        max-width: 269px;
    }
}

.mobile-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    & img {
        max-width: 220px;
    }
}

.masthead {
    position: relative;
    z-index: 1030;
    top: 0;
    transition: top .5s ease-in-out;
    &-with-mega-menu {
        //margin-bottom: $grid-gutter-width;
        padding-bottom: 0;
        @include media-breakpoint-up(md) {
            padding-bottom: map-get($spacers, 4);
        }
        @include media-breakpoint-down(md) {
            padding-bottom: 0;
        }
    }
    .search-box {
        .input-group-append {
            &.absolute {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        // hack for disable native clear button
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            -webkit-appearance: none;
        }
    }
    .search-box .navbar-form {
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .search-bar {
        position: relative;
        z-index: 1;
        transition: padding .5s ease-in-out;
        -webkit-transition: padding .5s ease-in-out;
        -moz-transition: padding .5s ease-in-out;
        -o-transition: padding .5s ease-in-out;
        padding: map-get($spacers, 2) 0;
    }
    .reserved-slot-baller {
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
    .header {
        height: 42px; // height + 10px for spacing event when content is affixed
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        .navbar {
            min-height: 42px;
            z-index: 1;
        }
        .navbar.affix {
            width: 100%;
            z-index: $zindex-fixed;
            animation-name: drop;
            animation-fill-mode: forwards;
            animation-duration: .5s;
            animation-iteration-count: 1;
        }
        .navbar-right {
            float: right;
            margin-right: -$navbar-padding-x;
        }
        .navbar-nav>li {
            float: left;
        }
        .navbar-nav>li>a {
            padding-top: $spacer;
            padding-bottom: $spacer;
        }
        // override bootstrap defaults that put the dropdown in stacked mode
        // when in a mobile and in a navbar.
        @include media-breakpoint-down(md) {
            .navbar-nav {
                margin-top: 0;
                margin-bottom: 0;
                // Copied from Bootstrap and modified a bit
                // Dropdowns get custom display when collapsed
                .open .dropdown-menu {
                    position: absolute;
                    float: left;
                    width: auto;
                    margin: 0; // override default ul
                    background-color: $dropdown-bg;
                    border: 1px solid $dropdown-border-color;
                    @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
                    >li>a,
                    .dropdown-header {
                        padding: 3px map-get($spacers, 2);
                        color: $dropdown-link-color;
                    }
                    >.active>a {
                        color: $dropdown-link-active-color;
                        text-decoration: none;
                        outline: 0;
                        background-color: $dropdown-link-active-bg;
                    }
                    >.active>a:hover,
                    >.active>a:focus {
                        background-color: darken(theme-color("info"), 5%)
                    }
                }
            }
        }
    }
    &.sps--blw {
        @include media-breakpoint-up(lg) {
            .main-nav-sticky {
                display: block;
                float: left;
            }
        }
    }
    @include media-breakpoint-up(md) {
        // override collapse on >= md
        .search-box .collapse {
            display: block;
            overflow: visible;
            height: auto !important;
        }
        &.sps--blw {
            position: sticky;
            top: -42px;
            // width: 100%;
            .reserved-slot-baller {
                margin-top: -62px !important;
            }
            .search-bar {
                padding: $spacer;
            }
        }
    }
    @include media-breakpoint-between(md, lg) {
        .search-box .navbar-form {
            margin-top: 0;
            padding-top: 0;
        }
        &.sps--blw {
            position: sticky;
            // width: 100%;
            .reserved-slot-baller {
                margin-top: -62px !important;
            }
            .search-bar {
                padding: $spacer;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .search-box {
            margin-top: 0;
        }
        &.sps--blw {
            position: sticky;
            // width: 100%;
            .reserved-slot-baller {
                margin-top: -62px !important;
            }
            .search-bar {
                padding: $spacer;
            }
        }
    }
}

@keyframes drop {
    0% {
        top: -42px;
    }
    100% {
        top: 0;
    }
}