.navbar {
    &-dark {
        background-color: $primary;
    }
    &-light {
        background-color: $light;
    }
    .main-nav-toggle {
        margin: 0;
    }
    @include media-breakpoint-down(md) {
        .navbar-nav .nav-link {
            padding-left: $spacer;
        }
    }
    .nav-link {
        border: 0;
    }
    @include media-breakpoint-up(lg) {
        &.megamenu {
            padding: 3px 0 0;
        }
    }
    @include media-breakpoint-down(md) {
        &.megamenu {
            padding: 0;
        }
    }
}