.page-summary {
    text-align: center;

    &-links {
        .more, .less {
            font-size: small;
            font-weight: bold;
        }
    }

    .less.collapsed {
        display: none;
    }

    .more {
        display: none;
    }

    .more.collapsed {
        display: inline-block;
    }
}
