.thin-scrollbar {

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
    background-color: $gray-300;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #22c2fd;
  }

  &::-webkit-scrollbar-track {
    background-color: $gray-300;
    border-radius: 2px;
  }

  &.vertical {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
