RecurringCart<div data-templateid="RecurringScheduleBillingRegisteredAddresses">
    {{#if AddressesLoaded}}
        {{> RecurringScheduleBillingAddressTemplate}}
    {{else}}
        {{> Loading}}
    {{/if}}
</div>
