.product-details {
  .add-to-wishlist {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }
}

.product-details-thumbnail {
  position: relative;
  height: 0;
  padding-bottom: $product-thumb-image-ratio * 100%;
}

.product-details-media {
  position: relative;
  //height: 0;
  //padding-bottom: $product-lg-image-ratio * 100%;
  margin-bottom: round($spacer / 2);

  i {
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.product-details-zoom {
  img {
    display: block;
  }

  .thumbnail {
    border: none;
    margin-bottom: 0;
    width: 100%;

    @include media-breakpoint-down(md) {
      margin: 0 5px;
    }

    &.active {

      img {
        border: 1px solid #000;
      }
  }
  }
  .tall {
    height: calc(100% - 56px);

    .row {
      height: 100%;

      @include media-breakpoint-up(md) {
        & > div {
          height: 100%;
        }
      }

      @include media-breakpoint-down(md) {
        & > div {
          text-align: center;
        }
        & > div:first-child {
          height: calc(100% - 131px);
        }
      }

      .img-zoom {
        margin: 0 auto;
        max-height: 95%;
        max-width: 95%;
      }
    }
  }

  &-trigger {
    display: block;
    left: 0;
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
}
