@inherits RazorFunction
@using Orckestra.Composer.CompositeC1.Context

@functions {
    public ILanguageSwitchContext LanguageSwitchContext { get; set; }
}

@{
    var Model = LanguageSwitchContext.ViewModel;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0"
      xmlns:v-bind="v-bind"
      xmlns:v-on="v-on">
<head>
</head>
<body>
    @if (Model.IsMultiLanguage)
    {
        <nav id="vueLanguageSwitchMobile" class="nav language-switch-links d-lg-none border-bottom">
            @foreach (var item in Model.Entries)
            {
                if (!item.IsCurrent)
                {
                    <a class="nav-link d-block"
                       v-on:click="onLanguageSwitch"
                       href="@item.Url"
                       lang="@item.ShortDisplayName">
                        <span aria-hidden="true">@item.ShortDisplayName</span>
                        <span class="sr-only">@item.DisplayName</span>
                    </a>
                }
            }
        </nav>
    }
</body>
</html>