@inherits RazorFunction
@using Orckestra.Composer.ViewModels.MenuNavigation;
@using Orckestra.Composer.CompositeC1.Mappers;
@using Orckestra.Composer.CompositeC1.DataTypes.Navigation;


@functions {
    public INavigationMapper HomeNavigationMapper { get; set; }
}

@{
    var currentPageId = SitemapNavigator.CurrentHomePageId;
    var optionalMenuData = Data.Get<HeaderOptionalLink>().Where(x => x.PageId == currentPageId).ToList();
    var optionalMenu = HomeNavigationMapper.MapHeaderOptionalLinksItems(optionalMenuData) as IEnumerable<OptionalLinkEntryViewModel>;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <ul class="nav-pills float-right optional-links text-small mb-2">
       @foreach (var optionalMenuEntry in @optionalMenu)
        {
            <li role="presentation">
                <a href="@optionalMenuEntry.Url" 
                   target="@optionalMenuEntry.UrlTarget" 
                   style="@optionalMenuEntry.CssClass">
                    @optionalMenuEntry.DisplayName
                </a>
            </li>
        }
    </ul>
</body>
</html>