.promotion {
    display: inline-block;
    border-top: solid 1px theme-color("info");
    border-bottom: solid 1px theme-color("info");
    color: theme-color("info");
    padding-top: $spacer / 2;
    padding-bottom: $spacer / 2;
    margin-bottom: $spacer;
}

.promotion-block {
    display: block;
}