.promotion {
    display: block;
    color: theme-color("info");

    &-item {
        padding: $spacer/2 $spacer;
        border-bottom: 1px solid $border-color;
        background: #fff;
    }
}

.promotion-block {
    display: block;
}