packages
Composer.CompositeC1/UI.Package
Composer.CompositeC1.Mvc/UI.Package
Package.C1/*.zip
Package.C1/Composer.C1.Core/UI.Package
Package.C1/Composer.C1.Core/Bin
Package.C1/Composer.C1.Core/Web.config
Package.C1/Composer.C1.Core/Global.asax
Package.C1/Composer.C1.Core/App_Data
Package.C1/Composer.C1.Core/App_Config
Package.C1/Composer.C1.Core/Web.config
Package.C1/Composer.C1.Core/Composite
Package.C1/Composer.C1.Core/Renderers
_Published
.vs
*.nupkg
CmpInstaller/**