.recurring-modes {
  margin-top: 10px;
  padding-bottom: 10px;

  .radio-row {
    border: 1px solid $gray-light;
    border-radius: 3px;
    margin-bottom: $grid-gutter-width / 2;
    padding: 0 15px 0 35px;

    &.selected {
      background-color: $gray-lighter;
      border-color: $gray-darker;
    }
  }

  .recurring-frequencies {
    margin-left: 20px;
  }
}

.recurring-orders-frequency-selection.template-details-frequency {
  border: 1px solid $gray-light;
  margin-left: 12px;
}

.recurring-price {
  white-space: nowrap;
}

.small-thumbnail {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  &.item {
    width: 50px;
  }
  > .img-small-thumbnail {
    border: 1px solid $gray-light;
  }
}

.container-fluid.recurring-container-thumbnail {
  margin-top: 5px;
}