<?xml version="1.0" encoding="utf-8" ?>
<caching>
  <profiles>
    <profile name="Serialized" duration="00:15:00" priority="Normal" clientType="Orckestra.Caching.DebugNetDataContractMemoryCacheClient, Orckestra.Caching" />
    <profile name="Default" duration="00:15:00" priority="Normal" clientType="Orckestra.Caching.MemoryCacheClient, Orckestra.Caching" />
    <profile name="ShortLived" duration="00:01:00" priority="NotRemovable" clientType="Orckestra.Caching.MemoryCacheClient, Orckestra.Caching" />
    <profile name="LongLived" duration="03:00:00" priority="NotRemovable" clientType="Orckestra.Caching.MemoryCacheClient, Orckestra.Caching" />
    <profile name="PerRequest" clientType="Orckestra.Caching.PerRequestCacheClient, Orckestra.Caching" />
    <profile name="NoCache" clientType="Orckestra.Caching.NullCacheClient, Orckestra.Caching" />
    <profile name="DefaultHttpCache" duration="00:15:00" clientType="Orckestra.Caching.NullCacheClient, Orckestra.Caching" />
    <profile name="ShortLivedHttpCache" duration="00:01:00" clientType="Orckestra.Caching.NullCacheClient, Orckestra.Caching" />
    <profile name="LongLivedHttpCache" duration="04:00:00" clientType="Orckestra.Caching.NullCacheClient, Orckestra.Caching" />
  </profiles>
  <categories>
    <category name="Product" profileName="PerRequest" />
    <category name="ProductDefinition" profileName="Default" />
    <category name="Lookup" profileName="Default" />
    <category name="Country" profileName="Default" />
    <category name="Cart" profileName="PerRequest" />
    <category name="Category" profileName="LongLived" />
    <category name="Customer" profileName="PerRequest" />
    <category name="Address" profileName="PerRequest" />
    <category name="Regions" profileName="Default" />
    <category name="LocalizationTree" profileName="LongLived" />
    <category name="HandlebarsView" profileName="LongLived" />
    <category name="FulfillmentMethod" profileName="PerRequest" />
    <category name="PaymentMethod" profileName="Default" />
    <category name="ProductSettings" profileName="LongLived" />
    <category name="FulfillmentLocationsByScope" profileName="LongLived" />
    <category name="Scopes" profileName="LongLived" />
    <category name="Store" profileName="LongLived" />
    <category name="StoreSchedule" profileName="LongLived" />
    <category name="StoreInventoryItems" profileName="Default" />

    <!-- CC1 specific -->
    <category name="CheckoutStepUrls" profileName="LongLived" />
    <category name="CategoryUrls" profileName="LongLived" />

  </categories>
</caching>