<?xml version="1.0" encoding="utf-8" ?>
<settings>
 <googlemaps apiKey="***REMOVED***" zoomlevel="11" markerpadding="30"/>
  <sitemap jobCronSchedule="0 2 * * *" baseUrl="https://composer-c1-cm-dev.develop.orckestra.cloud" sitemapDirectory="~/sitemaps" workingDirectory="~/sitemaps-temp">
	  <productSitemap numberOfEntriesPerFile="4500" />
	  <contentSitemap>			
          <!-- 
              For now the list to exclude pages from the sitemap are localted in Composer.config.
              When the C1 console configuration page will be done it will be possible to specify your own page to exclude.
              And data will be retreived from a specific C1 datatype
            
              Only page ids of the following pages are not excluded :
              https://composer-c1-cm-dev.develop.orckestra.cloud/Cart            
              https://composer-c1-cm-dev.develop.orckestra.cloud/order-status
              https://composer-c1-cm-dev.develop.orckestra.cloud/Stores
              https://composer-c1-cm-dev.develop.orckestra.cloud/Stores/Directory
		  -->
		  <pageIdsToExclude>
			  <add id="b3aba631-f426-4026-b2c2-b3197fcf3140" />
			  <add id="8cbbe0d2-6e2b-4364-ad60-5c89a27ad70a" />
			  <add id="be605ad2-54d0-43a8-a3fe-88546c70b890" />
			  <add id="eb5f4580-ff7d-4384-84c9-855a1e9508e0" />
			  <add id="01ad151e-fb67-4899-af29-be1a221fddc0" />
			  <add id="cf2c83d0-f72f-4d48-a856-fc9244bd4ca3" />
			  <add id="c4cc1194-0948-4f93-8a2e-519d78b66255" />
			  <add id="add1bd26-ce89-4cc1-896c-ab5bbadf1c74" />
			  <add id="aa722e1e-d8c5-4a22-90a7-1d035972acfa" />
			  <add id="e90e0d35-de67-4e8a-a03e-52529cdb437f" />
			  <add id="ec6d3c9c-6d05-4b0f-addd-4ee1ef86b69f" />
			  <add id="571e734c-57a8-4d99-9c05-754bc1f31f2a" />
			  <add id="6cb21c3a-d72f-4ef8-9ee7-a6046ba646b5" />
			  <add id="b6284e71-394d-4e22-abf3-08afb0493745" />
			  <add id="9171940c-a854-4db3-997b-793082e8030b" />
			  <add id="4b6dcc4b-a1c0-4ed6-8ad4-fee97bb707a7" />
			  <add id="3ebe528c-199d-4da1-9e81-1d541541aaf4" />
			  <add id="8f96397a-efeb-4490-b3b8-cd0132d2326e" />
			  <add id="de35d3fb-8c85-4b3a-bdbb-5d57fb20e10e" />
			  <add id="d6264f2f-c475-41ef-acf4-9bd3f10da8b4" />
			  <add id="84361534-86b5-4fc7-81d4-87542daed5b8" />
			  <add id="48d7be18-3954-4fd2-9e18-e11fa4407901" />
			  <add id="0ac9d403-ac27-468e-94ac-9f70bfefd063" />
			  <add id="7f2d9118-b941-46ea-862d-808d4bd0052a" />
			  <add id="09625722-6d35-4c8d-a374-203167f887e5" />
			  <add id="d52af03f-d5c9-4d8d-aa5c-917982ea112c" />
			  <add id="200eb67f-65fe-4dc1-92f1-1628efacaa54" />
		  </pageIdsToExclude>
	  </contentSitemap>
  </sitemap>
  
</settings>