<div data-templateid="CouponsSummary">
    {{#unless IsLoading }}
        {{#unless IsCartEmpty}}
        <div>
            <div class="panel  panel-default">
                <div class="panel-body">
                    <label class="h3" for="couponCode">{{localize 'ShoppingCart' 'F_PromoCode'}}</label>

                    <form name="addCoupon" data-oc-submit="applyCoupon">
                        <div class="form-group">
                            <div class="input-group">
                                <input data-qa="coupons-input" type="text" class="form-control" id="couponCode" name="couponCode" placeholder="{{localize 'ShoppingCart' 'F_PromoCodeWatermark'}}"/>
                                <span class="input-group-btn">
                                    <button data-qa="coupons-submit" type="submit" class="btn  btn-default">
                                        {{localize 'ShoppingCart' 'B_ApplyPromoCode'}}
                                        <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    {{>Coupons}}
                </div>
            </div>
        </div>
        {{/unless}}
    {{/unless}}
</div>
