<div class="form-group">
    <div class="row">
        <div class="col-xs-9  col-sm-10  col-md-9  col-lg-10">
            <strong class="text-info  text-uppercase">{{CouponCode}}</strong>
            {{DisplayText}}
        </div>
        <div class="col-xs-3  col-sm-2  col-md-3  col-lg-2">
            <button data-qa="coupons-delete" class="btn  btn-default  pull-right" data-oc-click="removeCoupon" data-couponcode="{{CouponCode}}"><span class="fa  fa-times"></span></button>
        </div>
    </div>
</div>