<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1CMS.Assemblies" version="6.6.6912.30810" targetFramework="net471" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net452" />
  <package id="Moq.AutoMock" version="0.3.2.1" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net471" />
  <package id="Orckestra.ExperienceManagement.Configuration" version="4.8.3-singlecheckout-beta" targetFramework="net471" />
  <package id="OrckestraCommerce.Client" version="4.2.0" targetFramework="net471" />
  <package id="OrckestraCommerce.Interfaces" version="4.2.0" targetFramework="net471" />
  <package id="OrckestraCommerce.RecurringOrders.ServiceModel" version="4.2.0" targetFramework="net471" />
  <package id="OrckestraCommerce.RecurringOrders.ServiceModel.Requests" version="4.2.0" targetFramework="net471" />
  <package id="OrckestraCommerce.ServiceModel" version="4.2.0" targetFramework="net471" />
  <package id="OrckestraCommerce.ServiceModel.Requests" version="4.2.0" targetFramework="net471" />
  <package id="ServiceStack.Client.Signed" version="4.5.4" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="4.5.4" targetFramework="net461" />
  <package id="ServiceStack.Text.Signed" version="4.5.4" targetFramework="net461" />
</packages>