@inherits Composer.Razor.ComposerRazorFunction
@using Orckestra.Composer.Search.Context;
@using Orckestra.Composer.Search.ViewModels;
@using Orckestra.Composer.Grocery.Context;

@functions {
    public override string FunctionDescription
    {
        get { return "My Usuals Selected Facets"; }
    }

    public IMyUsualsContext MyUsualsContext { get; set; }

}
@{
    var facetSettings = MyUsualsContext.ProductResultsViewModel.FacetSettings;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    @if (facetSettings != null)
    {
        @Function("Composer.Search.BaseSelectedFacets", new { FacetSettings = facetSettings })
    }
</body>
</html>
