<span class="navbar-count" data-templateid="MinicartQuantity" data-qa="minicart-count">
    {{#if TotalQuantity}}
        <span>
            <span class="sr-only">{{localize 'MiniCart' 'L_YourCartContains'}} </span>{{TotalQuantity}}<span class="sr-only"> {{localize 'MiniCart' 'L_Items'}}</span>
        </span>
    {{/if}}
</span>
