<div data-templateid="RecurringCartContent">
	{{#if IsLoading}}
		{{>Loading}}
	{{else}}
	    {{#if IsCartEmpty}}
	        {{>EmptyRecurringCart}}
	    {{else}}
	        {{>RecurringCartSummary}}
	    {{/if}}
    {{/if}}
</div>