<div class="row">
    <div class="col-md-10  col-md-offset-1">
        {{#if Description}}
        <div>
            <h2>{{localize 'ProductPage' 'L_ProductDescription'}}</h2>
            <div property="description">
                {{{Description}}}
            </div>
        </div>
        {{/if}}
    </div>
</div>