<div class="form-group">
    <div class="range"></div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <input class="form-control  js-lowerValue" type="text" />
        </div>
        <div class="col-xs-6">
            <input class="form-control  js-higherValue" type="text" />
        </div>
    </div>
</div>

<button type="submit" data-oc-click="refineByRange" class="btn btn-default btn-block" disabled="disabled">{{Localize 'List-Search' 'B_Apply'}}</button>