<div data-notification-time="{{NotificationTimeInMilliseconds}}" data-oc-controller="Cart.AddToCartNotification" class="hidden hidden-md hidden-lg hidden-xl">
    {{>AddToCartNotificationModal}}
</div>