<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-warning">
          <span class="fa fa-exclamation-triangle fa-lg"></span>&#32;{{localize 'MyAccount' 'L_RegisterErrorRequiresApproval'}}
        </div>
    </div>
</div>