<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-success">
          <span class="fa fa-check-circle-o fa-lg"></span>&#32;{{localize 'MyAccount' 'L_RegisterSuccess'}}
        </div>
    </div>
</div>