<div id="registered-shipping-addresses" data-templateid="RecurringCartRegisteredAddresses">
    {{#if AddressesLoaded}}
        {{> RecurringCartAddressTemplate}}
    {{else}}
        {{> Loading}}
    {{/if}}
</div>
