@mixin tile-gradient-right($top) {
    content: '';
    position: absolute;
    top: $top;
    right: 0;
    width: 10%;
    height: $spacer;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
    pointer-events: none;
}

.wishlist-tile {
    position: relative;
    &.is-loading {
        opacity: 0.7;
    }
}

.wishlist-tile-delete {
    position: absolute;
    top: $spacer;
    right: $spacer;
    z-index: 10;
}

.wishlist-tile-variants {
    height: 20px;
}

.wishlist-tile-brand {
    white-space: nowrap;
}

.wishlist-tile-price {
    height: ceil($h4-font-size * $line-height-base);
}

.wishlist-tile-special-price {
    height: ceil($spacer);
}

.wishlist-tile-add-to-cart {
    .btn {
        margin-top: 10px;
        @include media-breakpoint-down(sm) {
            display: block;
            width: 100%;
        }
    }
}

.wishlist-tile-media {
    // http://alistapart.com/article/creating-intrinsic-ratios-for-video
    display: block;
    height: 0;
    padding-bottom: $product-image-ratio * 100%;
    position: relative;
}

.wishlist-tile-text {
    $lines-of-text: 3;
    // 3 lines of text + half a line of spacing
    height: ($line-height-base * $font-size-base) * 3.5;
    padding-top: 3px;
    position: relative;
    overflow: hidden;
    // gradient on first line and last line
    &:before {
        @include tile-gradient-right(0);
    }
    &:after {
        @include tile-gradient-right(($line-height-base * $font-size-base) * ($lines-of-text - 1));
    }
    @include media-breakpoint-up(md) {
        border-top: solid 1px lighten(gray("400"), 7%);
    }
    @include media-breakpoint-down(md) {
        height: auto;
    }
}