@helper Pagination(int pageCurrent, int pageCount, int groupsize, string baseUrl)
{
    const string PAGE_KEY = "p";
    var queryString = baseUrl.IndexOf("?") > 0 ? baseUrl.Split('?')[1] : string.Empty;

    if (!string.IsNullOrEmpty(queryString))
    {
        baseUrl = baseUrl.Split('?')[0];
        var parameters = HttpUtility.ParseQueryString(queryString);
        if (parameters[PAGE_KEY] != null)
        {
            parameters.Remove(PAGE_KEY);
        }

        if (parameters.Count > 0)
        {
            queryString = "&" + parameters.ToString();
        }
    }


    var grouppage = (pageCurrent - 1) / groupsize;

    <ul class="pagination">

        @if (pageCurrent > groupsize)
        {
            <li><a href="@baseUrl?@PAGE_KEY=1@(queryString)">&lt;&lt;</a></li>
        }

        @if (pageCurrent > 1)
        {
            <li>
                <a href="@baseUrl?@PAGE_KEY=@(pageCurrent - 1)@(queryString)">&lt;</a>
            </li>
        }

        @for (int page = grouppage * groupsize + 1; page <= pageCount + 1 && page <= (grouppage + 1) * groupsize; page++)
        {
            if (page < pageCount + 1)
            {
                if (page == pageCurrent)
                {
                    <li class="active">
                        <span>
                            @page
                        </span>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@baseUrl?@PAGE_KEY=@(page)@(queryString)">@page</a>
                    </li>
                }
            }
        }
        @if (pageCurrent + 1 <= pageCount)
        {
            <li><a href="@baseUrl?@PAGE_KEY=@(pageCurrent + 1)@(queryString)">&gt;</a></li>
        }
        @if (grouppage < (pageCount - 1) / groupsize)
        {
            <li><a href="@baseUrl?@PAGE_KEY=@pageCount@(queryString)">&gt;&gt;</a></li>
        }
    </ul>
}
