
.form-control.parsley-error {
    border-color: theme-color("danger");
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    &:focus {
        border-color: darken(theme-color("danger"), 10%);
        $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(theme-color("danger"), 20%);
        @include box-shadow($shadow);
    }
}
.parsley-success {
    border-color: theme-color("info");
}

.parsley-errors-list {
    color: theme-color("danger");
    padding: 0;
    list-style-type: none;
}

.parsley-errors-list.filled {
    margin: 10px 0 20px;
}

.strong {
    font-weight: bold;
}

.error-item {
    color: theme-color("danger");
}