<ul class="nav-pills pull-right optional-links">
    {{#each OptionalLinkEntries}}
        <li role="presentation">
            <a href="{{Url}}"  target="{{UrlTarget}}" style="{{CssClass}}" >{{DisplayName}}</a>
        </li>
    {{/each}}
</ul>