@inherits RazorFunction

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div data-oc-controller="Cart.EditOrderBanner">
        <div id="vueEditOrderBanner" v-cloak="true" v-if="IsDraftCart=true" class="alert alert-success m-0 p-2 text-center">
            @Html.Localized("ShoppingCart", "L_EditCartBannerMessage", "{{OrderNumberForOrderDraft}}")
        </div>
    </div>
</body>
</html>