<div data-oc-controller="Checkout.CheckoutOrderConfirmation" data-sticky-top="true" data-sticky-top-offset="20" class="checkout-order-summary" data-context="{{JsonContext}}">
    {{> CheckoutOrderConfirmation}}
</div>