@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get  { return "Represents a grid typically used for a search page."; }
    }

    [FunctionParameter(Label = "Left part")]
    public XhtmlDocument LeftPart { get; set; }
	
	[FunctionParameter(Label = "Right part")]
    public XhtmlDocument RightPart { get; set; }

    [FunctionParameter(Label = "Is Collapese", DefaultValue = false)]
    public bool IsCollapse { get; set; }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
    <head>
    </head>
    <body>
        <div class="row searchgrid">
			<div id="leftCol" class="col-12 col-lg-3  facets-col @(IsCollapse ? "collapse" : "")">
				@Markup(LeftPart)
			</div>
			<div class="col-12  col-lg-9">
				@Markup(RightPart)
			</div>
		</div>
    </body>
</html>
