<div class="row">
    <div class="col-xs-7"><p>{{DisplayName}} {{#if Percentage}} ({{Percentage}}) {{/if}} </p></div>
    <div class="col-xs-5  text-right"><p data-qa="order-summary-product-tax">{{DisplayTaxTotal}}</p></div>
</div>
