.recipe {
    &-category-title {
        padding: $spacer;
        text-align: center;
        background-color: #ffffff55;
        border-radius: $spacer*2;
        margin-top: $spacer*4;
        margin-bottom: $spacer*3;
    }
    &-tile {
        .recipe-info {
            &-icon {
                font-size: 16px;
                text-align: center;
                .searchgrid & {
                    font-size: 14px;
                }
            }
            &-type {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                .searchgrid & {
                    font-size: 12px;
                    margin-top: 2px;
                }
            }
            &-value {
                font-weight: 400;
                text-align: center;
                .searchgrid & {
                    font-size: 12px;
                    margin-top: 2px;
                }
            }
            &-table {
                margin: ($spacer*2) (-1*$spacer*2) (-1*$spacer*2);
                border-radius: 0 0 $spacer $spacer;
            }
        }
        &-media {
            position: relative;
            display: block;
            overflow: hidden;
            cursor: pointer;
            max-height: $recipe-tile-height-xs;
            @include media-breakpoint-up(sm) {
                max-height: $recipe-tile-height-sm;
            }
            @include media-breakpoint-up(md) {
                max-height: $recipe-tile-height-md;
            }
            @include media-breakpoint-up(lg) {
                max-height: $recipe-tile-height-lg;
            }
            @include media-breakpoint-up(xl) {
                max-height: $recipe-tile-height-xl;
            }
            background-color: $recipe-tile-background;
            >.card-img-top {
                @include media-breakpoint-up(sm) {
                    position: relative;
                }
            }
            .recipe-info-table {
                width: 100%;
                height: 100%;
                margin-top: 0;
                transition: top 0.5s ease-in-out;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 0;
                &-cell {
                    color: $white;
                    align-items: center;
                    justify-content: center;
                }
            }            
        }
    }    
}
.product-tile-recipelist {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
a.add-to-recipelist{
    text-decoration: none;
    padding: 0.625rem;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    color: #333;
    background-color: white;
}