@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Sign In and Log Out links in Header Funtion"; }
    }
}


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0"
      xmlns:v-bind="v-bind"
      xmlns:v-on="v-on">
<head>
</head>
<body>
    <li data-oc-controller="MyAccount.SignInHeader"
        class="d-none d-lg-inline sticky-show nav-item"
        id="vueSignInSticky"
        v-cloak="true">
        @HeaderHelpers.SingInHeader()
    </li>
</body>
</html>