<div data-templateid="Carousel">
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel">
                <div class="row js-slick-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "mobileCarousel": true, "mobileSlidesToShow": 2, "mobileSlidesToScroll": 2}'>
                    <!-- Content -->
                </div>
            </div>

        </div>
    </div>
</div>