<div class="modal" id="confirmationModal" data-templateid="ConfirmationModal">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" title="{{localize 'General' 'B_Close'}}"><span class="fa fa-times-circle"></span></button>
                {{ConfirmationMessage}}
            </div>
            <div class="modal-footer">
                <button class="btn  btn-default  modal--cancel" type="button">{{localize 'General' 'B_Cancel'}}</button>
                <button class="btn  btn-primary  modal--confirm" type="button">{{localize 'General' 'B_Delete'}}</button>
            </div>
        </div>
    </div>
</div>