<div class="col-xs-12">
    <div class="follow-us pull-left">
        <h4>Follow Us:</h4>
    </div>
    <ul class="pull-left list-inline nav-social">
        <li>
            <a href="#">
                <span class="fa fa-2x fa-facebook-square"></span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="fa fa-2x fa-pinterest-square"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-2x fa-twitter-square"></span>
            </a>
        </li>
    </ul>
</div>