.store-locator {
  [v-cloak] { display:none; }

  .map {
        height: 340px;
        margin-bottom: 15px;
        background: #E5E3DF;
    }
}

.store-locator-search-icon {
  position: absolute;
  right: 24px;
  top: 10px;
}

.store-locator-info {
    margin-bottom: 10px;
}

.store-schedule {  
    .openhours-today {
        padding: 4px 15px; 
    }
} 

.schedule-status {
     padding: 4px 15px;
     font-weight: normal;
}

.store-marker, .store-cluster-marker {
     color: #fff;
     font-weight: bold;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 11px;
     text-align: center;
     width: 24px;     
     white-space: nowrap;
}

.store-marker-info {
    width: 240px;
    
    .title {
        margin: 0 0 10px 0;
    }
    
    .store-address {
        font-size: 0.9em;
        margin-bottom: 5px;
    }
    
    .btns {
         margin-top: 10px;
    }
}

.store-tile {
   height: 325px; 
   max-width: 380px;
   position: relative;
   
  .title {
       height: 40px;
       margin-bottom: 0;
   } 
}

.store-tile-body-top {
    color: $gray-800;
    margin-bottom: 15px;
    
    .cta {
        color: $gray-800;
    }
}

.store-tile-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.stores-list-paging {
    text-align: center;
    margin: 20px 0;
}



