@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Multi Keyword Search"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    
    <div data-oc-controller="Product.MultiKeywordsSearch"
         id="vueMultiKeywordsSearch" v-cloak="true">
        <div class="card facets-card mb-3" v-if="Keywords.length > 0">
            <div class="card-header">
                @Html.Localize("List-Search", "L_MultipleKeywordSearch")
            </div>
            <div class="card-body">
                @Html.Localize("List-Search", "L_SelectAnItem"):
                <ol class="mx-0 mt-1 pl-2">
                    <li v-for="(keyword, index) in Keywords"
                        v-on:click="updateSearch(keyword)"
                        v-bind:class="{'text-danger font-weight-bold': keyword == SelectedKeyword }">
                        <span role="button" v-bind:class="{'cursor-pointer': keyword != SelectedKeyword }">{{keyword}}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>