$banner-heights: () !default;
$banner-heights: map-merge(
    (
        "xs": 60vw,
        "sm": 30vw,
        "md": map-get($grid-breakpoints,md)/3.423,
        "lg": map-get($grid-breakpoints,lg)/3.423,
        "xl": map-get($grid-breakpoints,xl)/3.423,
    )
    , 
    $banner-heights
);

.banner {
    overflow: hidden;
    .imageWrapper {
        height: 100%;
        width: 100%;

        padding-bottom: map-get($banner-heights,"xs");

        @include media-breakpoint-up(sm) {
            padding-bottom: map-get($banner-heights,"sm");
        }

        @include media-breakpoint-up(md) {
            padding-bottom: map-get($banner-heights,"md");
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: map-get($banner-heights,"lg");
        }
        @include media-breakpoint-up(xl) {
            padding-bottom: map-get($banner-heights,"xl");
        }
        
        picture {
            position: absolute;
            height: 100%;
            width: 100%;
        }
        &.center {
            &-left img {
                object-position: center left;
            }
            &-center img {
                object-position: center center;
            }
            &-right img {
                object-position: center right;
            }
        }
        &.top {
            &-left img {
                object-position: top left;
            }
            &-center img {
                object-position: top center;
            }
            &-right img {
                object-position: top right;
            }
        }
        &.bottom {
            &-left img {
                object-position: bottom left;
            }
            &-center img {
                object-position: bottom center;
            }
            &-right img {
                object-position: bottom right;
            }
        }
        &.contain {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &.cover {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.banner {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
        font-family: $font-caveat;
    }

    h1, .h1 {
        font-size: 6vw;

        @include media-breakpoint-up(md) {
            font-size: 5vw;
        }

        @include media-breakpoint-up(xl) {
            font-size: 4rem;
        }
    }

    h2, .h2 {
        font-size: 5vw;
        
        @include media-breakpoint-up(md) {
            font-size: 3.5vw;
        }

        @include media-breakpoint-up(xl) {
            font-size: 3rem;
        }
    }

    h3, .h3 {
        
        font-size: 4.5vw;
        
        @include media-breakpoint-up(md) {
            font-size: 3vw;
        }

        @include media-breakpoint-up(xl) {
            font-size: 2.5rem;
        }
    }

    h4, .h4 {
        font-size: 1.5rem;
    }
    p {
        font-size: 7.5vw;

        @include media-breakpoint-up(sm) {
            font-size: 5vw;
        }

        @include media-breakpoint-up(xl) {
            font-size: 70px;
        }
    }
}