.cta {
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.disabled {
        text-decoration: none;
        pointer-events: none;
        color: $gray-500;
    }
}