.hitbox {
    display: block;
    background: $body-bg;
    border: dashed 2px gray("400");
    border-radius: $border-radius;
    font-weight: bold;
    padding: 0.7rem 1.15rem;
    text-align: center;
    text-decoration: underline;
    transition: all .3s ease;

    &:hover,
    &:focus {
        border-color: theme-color("info");
        color: theme-color("info");
        text-decoration: none;
    }
}