//new autosuggestion

#vueAutocomplete {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;

  #autosuggest {
    flex: 1;
  }
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  margin-right: 10px;
}

#autosuggest__input {
  outline: none;
  position: relative;
  display: block;
  border: 1px solid #616161;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#autosuggest__input.autosuggest__input-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.autosuggest__results-container {
  position: relative;
  width: 100%;
}

.autosuggest__results {
  font-weight: 300;
  margin: 0;
  position: absolute;
  z-index: 10000001;
  width: 100%;
  //border: 1px solid #e0e0e0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: white;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid gray;


  left: auto !important;
 /* top: 52px !important;
  width: 100%;*/

  @include media-breakpoint-down(sm) {
    left: 0 !important;
  }

  @include media-breakpoint-up(md) {
    right: 0;
    width: 720px;
  }
  @include media-breakpoint-up(lg) {
    width: 940px;
  }

  &.empty-right {
    @include media-breakpoint-down(sm) {
      display: none !important;
    }

    @include media-breakpoint-up(md) {
      right: -10px;
      width: 500px;
    }
    @include media-breakpoint-up(lg) {
      width: 640px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .autosuggest-top-results {
    vertical-align: top;
    grid-column-start: 1;
    grid-column-end: 3; // from 4
    grid-row-start: 1;
    grid-row-end: 3;
    border-right: 1px solid gray;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &.empty-right {
    .autosuggest-top-results {
      grid-column-end: 4;
    }
  }

  strong {
    font-weight: bold;
  }
}

.autosuggest__results .autosuggest__results-item {
  cursor: pointer;
  //padding: 15px;
}

#autosuggest ul:nth-child(1) > .autosuggest__results_title {
  border-top: none;
}

.autosuggest__results .autosuggest__results-before {
  color: gray;
  font-size: 11px;
  margin-left: 0;
  padding: 15px 13px 5px;
  border-top: 1px solid lightgray;
}

.autosuggest__results .autosuggest__results-item:active,
.autosuggest__results .autosuggest__results-item:hover,
.autosuggest__results .autosuggest__results-item:focus,
.autosuggest__results .autosuggest__results-item.autosuggest__results-item--highlighted {
 // background-color: #f6f6f6;
}
