/**
 * todo change the name
 * something like selectable panel or whatevs
 */
.select-block {
    position: relative;
    display: block;
    border: solid 1px $input-border-color;
    border-radius: $border-radius;
    cursor: pointer;
    font-weight: inherit;
    transition: border-color .15s ease-out, background .15s ease-out;

    .input-addon {
        background: gray("200");
        position: absolute;
        top: -1px; bottom: -1px;
        left: -1px;
        width: 41px;
        border: solid 1px $input-border-color;
        border-radius: $border-radius;
        transition: border-color .15s ease-out, background .15s ease-out;

    }
    // non, mettre une classe
    .input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .content {
        display: block;
        padding-left: 41px + $grid-gutter-width;
        padding-right: 12px;
        padding-top: map_get($spacers, 2);
        padding-bottom: map_get($spacers, 2);
        transition: border-color .15s ease-out;
    }
    .block {
        display: block;
    }
}

.select-block.active {
    border-color: theme-color("info");

    .input-addon {
        background-color: theme-color("info");
        border-color: theme-color("info");
    }
    .content {
        color: theme-color("info");
    }
}

.select-block.parsley-error,
.parsley-error .select-block {
    border-color: theme-color("danger");

    .input-addon {
        background-color: theme-color("danger");
        border-color: theme-color("danger");
    }
    .content {
        color: theme-color("danger");
    }
}

.select-block.disabled {
    color: $gray-800;
    background-color: gray("200");
    cursor: default;
}