<div data-templateid="MyRecurringCarts" class="panel  panel-default">
    <div class="panel-body">
    {{#if IsLoading}}
       todo {{>Loading}}
    {{else}}
      todo 
    {{/if}}      
   </div>   
</div>