<div data-templateid="MyRecurringCartDetails" >
    {{>RecurringCartDetailsSummary}}
    {{>RecurringCartDetailsShippingMethod}}  
    {{>RecurringCartDetailsAddress}}      
    {{>RecurringCartDetailsPayment}}
    <div class="multiline-message">
        <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
        {{localizeFormat 'RecurringCart' 'L_RecurringOrderCartsFrequencyChangeMessage' RecurringScheduleUrl}}  
    </div>
    {{>RecurringCartDetailsLineItems}}
    {{>RecurringCartDetailsOrderSummary}}    
</div>