<div data-oc-controller="MyAccount.MyRecurringCarts">
     <div class="panel  panel-default">
        <div class="panel-heading">
            <h2 class="h3">{{localize 'RecurringCart' 'T_UpcomingOrders' }}</h2>
        </div>
        <div class="panel-body">
            {{>MyRecurringCarts}}
        </div>
    </div>
</div>