@inherits Composer.Razor.ComposerRazorFunction
@using Orckestra.Composer.Search.Context
@using Orckestra.Composer.Search.ViewModels
@using Orckestra.Composer.Search

@functions {
    public override string FunctionDescription
    {
        get { return "Browsing categories products results"; }
    }

    public IBrowseCategoryRequestContext BrowsingRequestContext { get; set; }

}

@{

    var categoryBrowsingViewModel = BrowsingRequestContext.GetViewModelAsync().Result;

    if (categoryBrowsingViewModel == null)
    {
        return;
    }

    categoryBrowsingViewModel.Context["SearchResults"] = categoryBrowsingViewModel.ProductSearchResults.SearchResults;
    categoryBrowsingViewModel.Context["Keywords"] = categoryBrowsingViewModel.ProductSearchResults.Keywords;
    categoryBrowsingViewModel.Context["TotalCount"] = categoryBrowsingViewModel.ProductSearchResults.TotalCount;
    categoryBrowsingViewModel.Context["MaxItemsPerPage"] = SearchConfiguration.MaxItemsPerPage;
    categoryBrowsingViewModel.Context["ListName"] = "Category Browsing";
    categoryBrowsingViewModel.Context["PaginationCurrentPage"] = categoryBrowsingViewModel.ProductSearchResults.Pagination.CurrentPage;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0"
      xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    @Function("Composer.Search.Products.ProductResultsVue", new { Results = categoryBrowsingViewModel })
</body>
</html>