<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1CMS.Assemblies" version="6.10.7583.21856" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Orckestra.ExperienceManagement.Configuration" version="4.9.0" targetFramework="net471" />
  <package id="OrckestraCommerce.Client" version="4.5.0" targetFramework="net471" />
  <package id="OrckestraCommerce.Interfaces" version="4.5.0" targetFramework="net471" />
  <package id="OrckestraCommerce.ServiceModel" version="4.5.0" targetFramework="net471" />
  <package id="OrckestraCommerce.ServiceModel.Requests" version="4.5.0" targetFramework="net471" />
  <package id="ServiceStack.Client" version="5.9.0" targetFramework="net471" />
  <package id="ServiceStack.Interfaces" version="5.9.0" targetFramework="net471" />
  <package id="ServiceStack.Text" version="5.9.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net461" />
</packages>