@inherits RazorPageTemplate
@using System.Globalization
			  
@functions {
	public override void Configure()
	{
		TemplateId = new Guid("5c20ecad-0ea5-4009-be5f-b2fbf1a9ed66");
		TemplateTitle = "Checkout Page Layout";
		Layout = "MasterLayout.cshtml";
	}
	
    [Placeholder(Id="pageHeader", Title="Page Header")]
    public XhtmlDocument PageHeader { get; set; }

	[Placeholder(Id="body", Title="Body", IsDefault=true)]
	public XhtmlDocument Body { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<f:function name="Composite.Web.Response.SetServerPageCacheDuration" xmlns:f="http://www.composite.net/ns/function/1.0">
			<f:param name="MaxSeconds" value="-10" />
		</f:function>
		@Markup(PageHeader)
	</head>
	<body>
	    <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.CheckoutHeader" />
        <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Header.GeneralErrors" />
		<div class="container">
			@Markup(Body)
		</div>
	</body>
</html>