<div data-templateid="AddressList" class="card">
    <h5 class="card-header">{{localize 'MyAccount' 'T_MyAddresses'}}</h5>
    <div class="card-body">
        {{#each Addresses}}
            {{#if IsPreferredShipping}}
                {{>AddressListItem}}
            {{/if}}
        {{/each}}

        <div class="form-group">
            <a href="{{AddAddressUrl}}" class="hitbox" title="{{localize 'MyAccount' 'B_AddNewAddress'}}">{{localize 'MyAccount' 'B_AddNewAddress'}}</a>
        </div>

        {{#each Addresses}}
            {{#unless IsPreferredShipping}}
                {{>AddressListItem}}
            {{/unless}}
        {{/each}}
    </div>
</div>
{{> AddressConfirmationModal}}
