<div class="card" data-oc-controller="Checkout.Payment" data-context="{{JsonContext}}">
  <h5 class="card-header">{{localize 'MyAccount' 'T_PaymentMethod'}}</h5>
  <div class="card-body"> 
		{{>CheckoutPayment}}
	</div>
</div>