<div data-oc-controller="Orders.CurrentOrders">
    <div class="card bg-light">
        <h3 class="card-header">{{localize 'MyAccount' 'T_CurrentOrders' }}</h3>
        <div class="card-body">
            {{>CurrentOrders}}
        </div>
    </div>
    {{> OrderHistoryPagination }}
</div>