<div class="row">
    <div class="col-lg-6  col-xl-6">
        <p>{{localize 'ShoppingCart' 'L_EmptyShoppingCart'}}</p>
    </div>
    <div class="col-lg-6  col-xl-6">
        <a class="btn btn-primary  btn-block  btn-lg" data-qa="start-shopping" href="{{HomepageUrl}}">
            {{localize 'ShoppingCart' 'B_StartShopping'}}
        </a>
    </div>
</div>
