<div class="alert alert-success">
    <span class="fa  fa-check-circle-o  fa-lg"></span>&#32;{{localizeFormat 'MyAccount' 'L_ResetPassword'}}
</div>

<div>
    {{localize 'MyAccount' 'L_ResetPasswordEmailSentBegin'}}
    <strong>{{#escape}}{{EmailSentTo}}{{/escape}}</strong>
    {{localize 'MyAccount' 'L_ResetPasswordEmailSentEnd'}}
</div>
