<a href="{{Url}}" data-qa="minicart-header" class="nav-link minicart-header" data-oc-controller="Cart.MiniCart" title="{{localize 'MiniCart' 'H_MinicartTitle'}}">
    <span class="fa  fa-shopping-cart  fa-lg"></span>&#160;
    <span class="d-none d-xl-inline sps--blw-hidden">{{localize 'MiniCart' 'H_MinicartTitle'}}&#160;</span>
    <strong>{{>MinicartQuantity}}</strong>
</a>
{{>MinicartSummaryBlade}}
{{AddToCartNotificationModalContainer}}
