<div data-templateid="NewCustomer" class="card">
    <h5 class="card-header">{{localize 'MyAccount' 'T_NewCustomer'}}</h5>
    <div class="card-body">
        <p>{{localize 'MyAccount' 'L_NewCustomer'}}</p>

        <div>
            <a class="btn btn-primary btn-block  btn-lg" href="{{CreateAccountUrl}}">
                {{localize 'MyAccount' 'B_NewCustomer'}}
            </a>
        </div>
    </div>
</div>
