 <div data-templateid="OrderDetailsComment">
    <div class="card">
        <h3 class="card-header">{{localize 'MyAccount' 'T_Comments' }}</h3>
        <div class="card-body">
            {{#if Shipments.[0].Comments}}
                {{#each Shipments.[0].Comments}}
        	       <p>{{this}}</p>
        	    {{/each}}
            {{else}}
                <span class="text-muted">{{localize 'MyAccount' 'L_OrderNoComments' }}</span>
            {{/if}}
        </div>
    </div>
</div>