<div data-oc-controller="Orders.PastOrders">
    <div class="card">
        <h5 class="card-header">{{localize 'MyAccount' 'T_PastOrders' }}</h5>

        <div class="card-body">
            {{>PastOrders}}
        </div>
    </div>
    {{> OrderHistoryPagination }}
</div>