<form id="RecurringCartPayment" data-oc-submit="preventFormSubmit">
    <input type="radio"
            class="d-none"
            name="PaymentId"
            checked="checked"
            data-parsley-class-handler-selector="form"
            data-parsley-errors-container="#payment-errors"
            data-payment-id={{PaymentId}}
            required="required" />
    {{#if_neq SavedCreditCards.length 0}}<br/>{{/if_neq}}

    {{#each SavedCreditCards}}
        {{>RecurringCartSavedCreditCardPaymentMethodItem}}
    {{/each}}    
</form>