<div data-templateid="RecurringScheduleDetailsNextOccurence" class="card">
    {{#if IsLoading}}
        {{>Loading}}
    {{else}}
        <div class="card-header">
           <div class="row">
                <div class="col-10">
                    <h5>{{localize 'RecurringSchedule' 'T_RecurringScheduleDetailsNextOccurence' }}</h5>
                </div>
            </div>
        </div>
         <div class="card-body form-group">
            <div class="row compact-order-header">
                <div class="col-md-6">
                    <div class="compact-order-date">
                        <strong><label for="NextOcurrence" >{{localize 'RecurringCart' 'L_NextOccurence'}}</label></strong>
                        <br />
                        <input class="form-control datepicker" id="NextOcurrence" value="{{NextOccurenceValue}}" />
                    </div>
                </div>
                <div class="col-12 col-md-4">
                </div>
            </div>            
        </div>
    {{/if}}   
</div>
