<div data-oc-controller="MyAccount.MyRecurringSchedule">    
    <div class="card">
        <h3 class="card-header">{{localize 'RecurringSchedule' 'T_RecurringSchedule' }}</h3>

        <div class="card-body">
            {{>MyRecurringSchedule}}
        </div>
    </div>
</div>