       
<div class="col-12 text-right">
    <button class="btn  btn-outline-secondary" type="button"  id="btnCancelRecurringOrderTemplate"        
        onclick="window.history.back();" data-scheduleUrl="{{ScheduleUrl}}">{{localize 'General' 'B_Cancel'}}</button>
    <button class="btn btn-primary"
        data-oc-click="saveRecurringOrderTemplate">{{localize 'MyAccount' 'B_SaveChanges'}}
        <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  d-none"></span>
    </button>
</div>