<div data-templateid="ReturningCustomer" class="card">
    <h3 class="card-header">{{localize 'MyAccount' 'T_ReturningCustomer'}}</h3>
    <div class="card-body">
        {{>ReturningCustomerForms }}
    </div>
</div>
