<div class="card panel-suggestion panel-empty d-none d-sm-block">
    <div class="arrow_box"></div>
    <div class="card-header">{{localize 'General' 'L_Suggest_PossibleMatches'}}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <em>{{localize 'List-Search' 'NoResultAutoSuggest'}}</em>
                </div>
            </div>
        </div>
    </div>
</div>
