<div class="card panel-suggestion">
    <div class="card-header">{{localize 'General' 'L_Suggest_Suggestions'}}</div>
    <div class="card-body">
        <ul>
            {{#each this}}
                <li>
                    <a data-oc-click="selectedSearchTermsSuggestion" data-suggestion="{{DisplayName}}" role="link" tabindex="0">{{ DisplayName }}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
