<div data-templateid="StoresList" class="row">
{{#each Stores}}
    <div class="mb-4 col-12  col-md-6  col-lg-4  stores-list-item" data-store-number="{{Number}}">
        {{> StoreTile}}
    </div>
{{/each}}
{{#if NextPage}}
{{#with NextPage}}
    <div class="stores-list-paging">
        <a id="nextPageBtn"
           data-qa="next-page"
           data-page="{{Page}}"
           data-oc-click="nextPage"
           class="btn  btn-primary  btn-lg"> 
           {{localize 'Store' 'B_ShowMore'}}
            <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  d-none"></span>
        </a>
   </div>
{{/with}}
{{/if}}
</div>

