<div class="row">
    {{#each Items}}
        <div class="col-12  col-md-6  col-lg-4">
            {{#if @index}}<hr class="d-block  d-md-none" />{{/if}}
            {{> WishListSummaryTile}}
        </div>
    {{/each}}
</div>
