@inherits RazorFunction
@using System.Globalization
@using System
	
@functions {
	
	//List here the page Id that want to use the datepicker library.
	//That is to prevent adding the library in every pages.
	//Will need to be reoptimized
	public Guid[] AllowedPages = { Guid.Parse("e71ff02c-241b-4ce4-8dc6-bbc66fcda954"), Guid.Parse("d0d574cd-3ae9-41d4-b398-3af6191fddf1") };
	
    public override string FunctionDescription
    {
        get { return "DatePicker JS/CSS Includes"; }
    }
	
	public bool AllowedPage()
    {
		var currentPageId = SitemapNavigator.CurrentPageId;
		
		foreach (Guid pageid in AllowedPages)
		{
			if (currentPageId == pageid)
			{
				return true;
			}
		}
		
        return false;
    }
}

@{
    var localesWithSupportedCultures = new string[] { "en-CA", "fr-CA", "en-US"};
    var locale = CultureInfo.CurrentCulture.Name;
    var datePickerLanguage = localesWithSupportedCultures.Contains(locale) ? locale : locale.Substring(0, 2);
}

@if (AllowedPage())
{
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" data-datepicker-language="@datePickerLanguage">
	<head>
		<link id="bootstrap-datepicker-css" rel="stylesheet" href="/UI.Package/Css/bootstrap-datepicker.css" />
	</head>
	<body>
		<script id="bootstrap-datepicker-js" src="/UI.Package/JavaScript/bootstrap-datepicker.min.js"></script>
		<script id="bootstrap-datepicker-locale" src="/UI.Package/JavaScript/bootstrap-datepicker.@(datePickerLanguage).min.js"></script>
	</body>
	</html>	
}
	
