<a href="{{Url}}" data-qa="minicart-header" class="minicart-header" data-oc-controller="Cart.MiniCart" title="{{localize 'MiniCart' 'H_MinicartTitle'}}">
    <span class="fa  fa-shopping-cart  fa-lg"></span>&#160;
    <span class="hidden-xs  hidden-sm  affix-hidden">{{localize 'MiniCart' 'H_MinicartTitle'}}&#160;</span>
    <strong>{{>MinicartQuantity}}</strong>
</a>
{{>MinicartSummaryBlade}}
{{>AddToCartNotificationModalContainer}}