<div data-templateid="NewCustomer" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="h3">{{localize 'MyAccount' 'T_NewCustomer'}}</h2>
    </div>
    <div class="panel-body">
        <p>{{localize 'MyAccount' 'L_NewCustomer'}}</p>

        <div>
            <a class="btn btn-primary btn-block  btn-lg" href="{{CreateAccountUrl}}">
                {{localize 'MyAccount' 'B_NewCustomer'}}
            </a>
        </div>
    </div>
</div>
