 <div data-templateid="OrderDetailsShippingMethod">
     <div class="card">
        <h5 class="card-header">{{localize 'MyAccount' 'T_ShippingMethod' }}</h5>
        <div class="card-body">
            <h2 class="h4">{{ShippingMethod.DisplayName}}</h2>
            <p>{{ShippingMethod.Cost}}</p>
        </div>
    </div>
</div>