<div class="card">
    <div class="card-body" data-qa="search-refiner" >
        <ul class="list-unstyled">
            {{#each PromotedFacetValues}}
                {{#if_eq FacetType 'MultiSelect'}}
                    {{>MultiSelectPromotedFacet}}
                {{else}}
                    {{>SinglePromotedFacet}}
                {{/if_eq}}
            {{/each}}
        </ul>
    </div>
</div>