<div data-templateid="ReturningCustomer" class="card">
    <h5 class="card-header">{{localize 'MyAccount' 'T_ReturningCustomer'}}</h5>
    <div class="card-body">
        {{>ReturningCustomerForms }}
    </div>
</div>
