<div data-templateid="ShippingAddress">
    {{#if_eq IsAuthenticated false}}
        <div class="card">
            <h5 class="card-header" data-qa="shipping-address-title">{{localize 'CheckoutProcess' 'T_ShippingAddress'}}</h5>

            <div class="card-body">
                {{#if_eq GettingCart true}}
                    {{>Loading}}
                {{/if_eq}}
                {{#if_eq GettingCart false}}
                    <form id="ShippingAddress" data-oc-submit="preventFormSubmit" method="post" autocomplete="on">
                        {{>Address ShippingAddress}}
                    </form>
                {{/if_eq}}
            </div>
        </div>
    {{/if_eq}}
</div>
