<div data-templateid="ShippingAddressRegistered">
    {{#if_eq IsAuthenticated true}}
        <div class="card">
            <h5 class="card-header">{{localize 'CheckoutProcess' 'T_ShippingAddress'}}</h5>
            <div class="card-body">
                {{#if_eq GettingCart true}}
                    {{>Loading}}
                {{/if_eq}}
                {{#if_eq GettingCart false}}
                    {{> RegisteredAddresses}}
                {{/if_eq}}
            </div>
        </div>
    {{/if_eq}}
</div>