<div data-templateid="NewPasswordFormsServerValidations">
{{#if_neq Status ''}}
    <div class="panel  panel-default">
        <div class="panel-body">
            <div class="multiline-message  text-danger">
                <span class="fa  fa-times-circle-o  fa-lg  multiline-message-icon"></span>&#32;
                {{#if_eq Status 'AjaxFailed'}}
                    <span>{{localize 'General' 'L_ErrorAjaxFailed'}}</span>
                {{else}}
                    <span>{{localize 'MyAccount' 'L_ResetPasswordError'}}</span>
                {{/if_eq}}

            </div>
        </div>
    </div>
{{/if_neq}}
</div>
