<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="OrckestraCommerce.Interfaces" version="5.2.0-alpha0102" targetFramework="net48" />
  <package id="OrckestraCommerce.ServiceModel" version="5.2.0-alpha0102" targetFramework="net48" />
  <package id="OrckestraCommerce.ServiceModel.Requests" version="5.2.0-alpha0102" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="5.9.0" targetFramework="net471" />
</packages>