{{#if ChildCategories}}
    <div data-oc-controller="Product.FacetSearch">
        <div class="panel  panel-default" >
            <div class="panel-body" data-oc-controller="Product.SelectedSearchFacets">
                <h2 class="h4">{{localize 'List-Search' 'L_RefinerCategories'}}</h2>
                <ul class="list-unstyled">
                    {{#each ChildCategories}}
                    <li><a href="#" data-qa="search-category-single-select" data-categoryurl="{{Url}}" data-facetfieldname="category" data-facetvalue="{{Title}}" data-oc-click="addSingleSelectCategory">{{Title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}