<div data-templateid='MainImageContent'>
    <div class="product-details-media">
        <img property="image" class="img-fluid" src="{{SelectedImage.ImageUrl}}" alt="{{DisplayName}}"  onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'"/>
    </div>
</div>