<?xml version="1.0" encoding="utf-8" ?>

<sitemap numberOfEntriesPerFile="50000" scheduleDelayInSeconds="60" sitemapDirectory="~/sitemaps" workingDirectory="~/sitemaps-temp">
  <productSitemap sitemapFilePrefix="products" />
  <contentSitemap sitemapFilePrefix="content" >
    <pageIdsToExclude>
      <add id="3ebe528c-199d-4da1-9e81-1d541541aaf4" />
    </pageIdsToExclude>
    <pageIdsFromConfigurationPropertiesToExclude>
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|ProductDetailsPage" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|SearchPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|ChangePasswordPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|AddAddressPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|UpdateAddressPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|AddressListPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|OrderDetailsPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|OrderHistoryPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|MyAccountPage" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|CheckoutSteps" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|CheckoutSignInPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|CheckoutAddAddressPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|CheckoutUpdateAddressPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|TermsAndConditionsPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|CreateAccountPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|ResetPasswordPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|ForgotPasswordPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|GuestOrderDetailsPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|StorePageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|PageNotFoundPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|MyWishListPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|SharedWishListPageId" />
      <add name="Orckestra.ExperienceManagement.Configuration.DataTypes.ISiteConfigurationMeta,Orckestra.ExperienceManagement.Configuration|LoginPage" />
      <add name="Orckestra.Composer.CompositeC1.DataTypes.RecurringOrdersSettings,Orckestra.Composer.CompositeC1.DataTypes|RecurringSchedulePageId" />
      <add name="Orckestra.Composer.CompositeC1.DataTypes.RecurringOrdersSettings,Orckestra.Composer.CompositeC1.DataTypes|RecurringScheduleDetailsPageId" />
      <add name="Orckestra.Composer.CompositeC1.DataTypes.RecurringOrdersSettings,Orckestra.Composer.CompositeC1.DataTypes|RecurringCartDetailsPageId" />
      <add name="Orckestra.Composer.CompositeC1.DataTypes.RecurringOrdersSettings,Orckestra.Composer.CompositeC1.DataTypes|RecurringCartsPageId" />
    </pageIdsFromConfigurationPropertiesToExclude>
    <dataTypesToInclude>
      <add name="Orckestra.Composer.Articles.DataTypes.IArticle,Orckestra.Composer.Articles" />
    </dataTypesToInclude>
  </contentSitemap>
</sitemap>