<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <!--
  Used to specify the default Sources for list, install and update.
  See: NuGet.exe help list
  See: NuGet.exe help install
  See: NuGet.exe help update
  -->
  <!-- Used to specify which one of the sources are active -->
  <activePackageSource>
    <!-- this tells that all of them are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <Overture_x0020_pre-release>
      <add key="Username" value="svc-nuget-download" />
      <add key="ClearTextPassword" value="***REMOVED***" />
    </Overture_x0020_pre-release>
    <Overture_x0020_internal>
      <add key="Username" value="svc-nuget-download" />
      <add key="ClearTextPassword" value="***REMOVED***" />
    </Overture_x0020_internal>
	<Overture_x0020_release>
      <add key="Username" value="svc-nuget-download" />
      <add key="ClearTextPassword" value="***REMOVED***" />
    </Overture_x0020_release>
	<Composer>
      <add key="Username" value="svc-nuget-download" />
      <add key="ClearTextPassword" value="***REMOVED***" />
    </Composer>
  </packageSourceCredentials>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Overture pre-release" value="***REMOVED***" />
    <add key="Overture internal" value="***REMOVED***" />
    <add key="Overture release" value="***REMOVED***" />
    <add key="Composer" value="***REMOVED***" />
    <add key="LocalRepos" value="D:\ExperienceManagement\Orckestra.StarterSite\CC1\Source\Composer.CompositeC1\.nuget\../../../../../LocalNugetRepository" />
    <add key="Local" value="C:\LocalNuget\DEV" />
  </packageSources>
</configuration>