<div data-templateid="AccountHeader">
    <h1>
        {{#escape}}
            {{localizeFormat 'MyAccount' 'T_GreetingAccountHeader' FirstName LastName}}
        {{/escape}} 
        <small>{{>AccountHeaderLogoutButton}}</small>
    </h1>
</div>