<a class="nav-link" href="{{Url}}" title="{{localize 'Store' 'L_StoreLocator'}}">
    <span class="fas  fa-map-marker-alt"></span>&#160;
    <span class="d-none d-xl-inline sps--blw-hidden">{{localize 'Store' 'L_StoreLocator'}}</span>
</a>
