<a class="nav-link" href="{{Url}}" title="{{localize 'MyAccount' 'H_WishListInHeaderTitle'}}" data-qa="wishlist-header" data-oc-controller="MyAccount.WishListInHeader">
    <span class="fa  fa-heart"></span>&#160;
    <span class="d-none d-sm-inline sps--blw-hidden">{{localize 'MyAccount' 'H_WishListInHeaderTitle'}}&#160;</span>

    {{>WishListQuantity}}
</a>
