
<strong data-templateid="WishListQuantity" data-qa="wishlist-count">
  {{#if TotalQuantity}}
    <span class="wishlist-header-count navbar-count">
      {{TotalQuantity}}
    </span>
  {{/if}}
</strong>