<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.3.0" targetFramework="net48" />
  <package id="Moq" version="4.0.10827" targetFramework="net48" />
  <package id="Moq.AutoMock" version="0.3.2.1" targetFramework="net48" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net48" />
  <package id="NUnit" version="3.12.0" targetFramework="net48" />
  <package id="OrckestraCommerce.Interfaces" version="5.4.0-alpha0051" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="5.9.0" targetFramework="net48" />
</packages>