<div class="island" data-templateid="ProductInformation">
    <h1 property="name" data-qa="product-title">{{DisplayName}}</h1>

    <span class="hidden" property="sku">{{Sku}}</span>

    {{#if Brand}}
        <div class="h6" property="brand" data-qa="product-brand">{{Brand}}</div>
    {{/if}}
</div>
