<?xml version="1.0" encoding="utf-8"?>
<settings configBuilders="EnvExpManSettings">
  <add key="OrchestrationServicesHostname" value="" />
  <add key="Overture.Url" value="https://orc-dev-ocs-cd.develop.orckestra.cloud/api" />
  <add key="Overture.AuthToken" value="mBTOMa98OOAtQ+dKqUJT50oGuqNoW87tbPPdLQf9KDkMxpx6ZCj7L99QlTRMbyCRNG2Vd6mVL7IO3VROWFxgnZonqtMKwM8alWrjvcnjRAg=" />
  <!--CookieAccesser  -->
  <add key="CookieAccesser.Name" value=".CUST" />
  <add key="CookieAccesser.TimeoutInMinutes" value="131760" />
  <add key="CookieAccesser.RequireSsl" value="true" />
  <add key="CookieAccesser.Domain" value="" />
  <add key="AppSelector.ApplicationName" value="ExperienceManagement" />
  <add key="CategoryTopicPageTemplateId" value="2efe394b-cce7-4119-9b41-4801cc9b31e8" />
  <add key="CategoryAllProductsPageTemplateId" value="f953fa1e-31fe-4f15-8967-9827caffb68b" />
  <add key="CategoryPageTypeId" value="ab50b336-ee78-4c53-9fb6-022407c0d3ef" />
  <add key="CategoryLandingPageTypeId" value="8132f659-418b-4c39-b450-9c8c53a86bd4" />
  <add key="CategoryPageMetaDataFieldName" value="ComposerCategoryPage" />
  <add key="CategoryLandingPageMetaDataFieldName" value="ComposerCategoryLandingPage" />
  <add key="ServiceBus.Hostname" value="occ-dev-localdeployment.servicebus.windows.net" />
  <add key="ServiceBus.KeyName" value="RootManageSharedAccessKey" />
  <add key="ServiceBus.Key" value="" />
  <add key="ServiceBus.TopicPrefix" value="" />
  <add key="ServiceBus.SubscriptionPrefix" value="Orckestra.ExperienceManagement_" />
  <add key="CdnDamProvider.ServerUrl" value="https://refapp.azureedge.net" />
  <add key="CdnDamProvider.ImageFolderName" value="images" />
  <add key="CdnDamProvider.FallbackImage" value="image_not_found.jpg" />
</settings>