@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "The Organization JSON-LD SEO Data"; }
    }
}

@{
    var organization = Data.Get<Orckestra.Composer.SEO.Organization>().FirstOrDefault(o => o.PageId == HomePageNode.Id);
    if (organization == null)
    {
        return;
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
    <script type="application/ld+json">
    @(organization.JSONLD)
    </script>
</head>
<body>
</body>
</html>