.checkout-page {
    [v-cloak] { display:none; }
}
.select-shipping-block {
    border: solid 1px $input-border-color;
    border-radius: $border-radius;
    transition: border-color .15s ease-out, background .15s ease-out;

    & .selected {
        background: #f3f6f7;
        border-color: #0f4e66;
    }
    .collapse {
        border-top: solid 1px $input-border-color;
    }
    .input-group {
        position: relative;
        display: flex;
        cursor: pointer;
        font-weight: inherit;

        .input-addon {
            padding-top: 30px;
            padding-left: 20px;
        }

        .radio-content {
            padding: 30px 20px 30px 10px;
            flex: 1;
        }
    }
}


@include media-breakpoint-up(sm) {
    .sps-order-summary {

        transition: all 0.25s ease;

        &.sps--abv {
            top: 0;
        }

        &.sps--blw {
            position: fixed;
            top: 20px;
            transition: all 0.5s ease;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}