.btn .badge {
    &-top {
        &-right {
            position: absolute;
            top: 5px;
            left: 20px;
        }
        &-left {
            position: absolute;
            top: 5px;
            left: 0;
        }
    }
    &-bottom {
        &-right {
            top: unset;
            position: absolute;
            bottom: -5px;
            left: 20px;
        }
        &-left {
            top: unset;
            position: absolute;
            bottom: -5px;
            left: 0;
        }
    }
}