.badge {
    &-top {
        &-right {
            position: relative;
            top: -5px;
            left: -5px;
        }
        &-left {
            position: relative;
            top: -5px;
            left: calc(-100% + 5px);
        }
    }
    &-bottom {
        &-right {
            position: relative;
            bottom: -5px;
            left: -5px;
        }
        &-left {
            position: relative;
            bottom: -5px;
            left: calc(-100% + 5px);
        }
    }
}