.card {
    background-color: $lighter;

    &-body & {
        background-color: white;
    }
    &-header {
        position: relative;
        border-bottom: unset;
        background-color: unset;
        &-primary {
            background-color: $primary;
            color: #fff;

            &.card-header:after {
                content: none !important;
            }
        }
        &:after {
            content: "";
            width: calc(100% - 20px);
            height: 1px;
            background: $gray-300;
            position: absolute;
            bottom: 0px;
            left: 10px;

            .checkout-step-container & {
                height: 0;
            }

            .checkout-step-container.active-step & {
                height: 1px;
            }
        }
    }
}