 h4,
.h4 {
    font-weight: bold;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-bottom: $spacer;
}

h5, .h5,
h6, .h6 {
font-family: $font-family-base;
font-weight: $font-weight-semibold;
}

 @include media-breakpoint-down(sm) {
    h1, .h1 { font-size: $font-size-h1-sm; }
    h2, .h2 { font-size: $font-size-h2-sm; }
    h3, .h3 { font-size: $font-size-h3-sm; }
    h4, .h4 { font-size: $font-size-h4-sm; }
    h5, .h5 { font-size: $font-size-h5-sm; }
    h6, .h6 { font-size: $font-size-h6-sm; }
}

blockquote {
    font-weight: bold;

    footer,
    small,
    .small {
        font-weight: normal;
        font-size: 12px;
    }
}


.list-unstyled {
    li {
        margin-bottom: map_get($spacers, 2);
    }
}

@include text-emphasis-variant('.text-gray', $gray-800);


// SectionTitle component styling
.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    hgroup {
        text-align:center;
        padding: 60px 20px;
        > h2 {
            margin: 0;
            & + * {
                margin-top: 10px;
            }
        }
      }
  }
  
  .section-header:before, 
  .section-header:after {
    content: "";
    flex: 1 1 0;
    background-color: theme-color("dark");
    height: 1px;
  }
  
