<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1CMS.Assemblies" version="6.11.7982.26191" targetFramework="net471" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net452" />
  <package id="Moq.AutoMock" version="0.3.2.1" targetFramework="net452" />
  <package id="NUnit" version="3.12.0" targetFramework="net471" />
  <package id="Orckestra.ExperienceManagement.Configuration" version="4.9.3" targetFramework="net471" />
  <package id="OrckestraCommerce.Client" version="5.1.1-beta0043" targetFramework="net48" />
  <package id="OrckestraCommerce.Interfaces" version="5.1.1-beta0043" targetFramework="net48" />
  <package id="OrckestraCommerce.ServiceModel" version="5.1.1-beta0043" targetFramework="net48" />
  <package id="OrckestraCommerce.ServiceModel.Requests" version="5.1.1-beta0043" targetFramework="net48" />
  <package id="ServiceStack.Client" version="5.9.0" targetFramework="net471" />
  <package id="ServiceStack.Interfaces" version="5.9.0" targetFramework="net471" />
  <package id="ServiceStack.Text" version="5.9.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
</packages>