<a class="cta" data-qa="logout-button" href="#" title="{{localize 'MyAccount' 'H_Logout'}}" data-oc-click="fullLogout">
    {{localize 'MyAccount' 'H_Logout'}}
    <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
</a>
