<div data-templateid="CheckoutComplete">
    {{> CheckoutCompleteCartDetail}}
    {{> CheckoutCompleteShippingAddress}}
    {{> CheckoutCompleteBillingAddress}}
    {{> CheckoutCompleteShippingMethod}}
</div>