<div data-templateid="PaymentMethodItem" class="payment-method-line-item" {{#if_gt SavedCreditCards.length 0}}style="display:none;"{{/if_gt}}>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="select-block {{#if CreditCardPaymentMethod.IsSelected}}active{{/if}}">
                    <span class="input-addon">
                        <input type="radio"
                                name="PaymentMethod"
                                data-parsley-class-handler-selector=".row"
                                data-parsley-errors-container="#payment-method-errors"
                                required="required" 
                                value="{{CreditCardPaymentMethod.Id}}"
                                {{#if CreditCardPaymentMethod.IsSelected}}checked="checked"{{/if}}
                                class="input credit-card-payment-method"
                                data-payment-id="{{CreditCardPaymentMethod.Id}}"
                                data-payment-provider="{{CreditCardPaymentMethod.PaymentProviderName}}"
                                data-oc-click="selectCreditCardPaymentMethod"
                                data-oc-change="selectCreditCardPaymentMethod"/>  
                    </span>

                    <span class="content">
                        <div class="row">
                            <div class="col-sm-12">
                                {{localize 'CheckoutProcess' 'B_UseCreditCard' }}
                            </div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
</div>