<div data-oc-controller="Orders.CurrentOrders">
    <div class="panel  panel-default">
        <div class="panel-heading">
            <h2 class="h3">{{localize 'MyAccount' 'T_CurrentOrders' }}</h2>
        </div>
        <div class="panel-body">
            {{>CurrentOrders}}
        </div>
    </div>
    {{> OrderHistoryPagination }}
</div>