.search-results {
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0.5;
    z-index: 1042;
  }
}

#leftCol {
  transition: .4s ease-in-out, opacity .1s;
}

.search-container, #rightCol {
  transition: .4s ease-in-out;
}

#vueSearchFacets * {
  white-space: nowrap;
}

.search-tabs {
  border-bottom:  $nav-tabs-border-width solid $nav-tabs-border-color;
}