.facets-card {
    .card-body {
        padding-left: $card-spacer-x / 1.5;
        padding-right: $card-spacer-x / 1.5;
    }
    .fa-check {
        display: none;
        position: absolute;
        left: 0;
    }

    .facet-link {
        &.selected {
            &.highlighted {
                font-weight: bold;
            }
            .fa-check {
                display: inline;
            }
        }
    }

}

.search-results {
    .filters-row {
        height: 55px;
    }

    .sort-by .btn {
        width: 100%;
    }

    @include media-breakpoint-up(lg) { 
        .sort-by .btn {
            width: auto;
        }

    }
}

@include media-breakpoint-up(lg) {
    .facets-col {
        margin-top: -55px;

        &.collapse {
            display: block;
        }
    }
}

