
@mixin tile-gradient-right($top) {
    content: '';
    position: absolute;
    top: $top;
    right: 0;
    width: 10%;
    height: $spacer;
    @include gradient-x(rgba(255,255,255,0), $body-bg, 0%, 100%);
    pointer-events: none;
}

.product-tile {
    $lines-of-text: 3;

    .product-tile-text {
        border-top: solid 1px lighten(gray("400"), 7%);
        // 3 lines of text + half a line of spacing
        height: ($line-height-base * $font-size-base) * 3;
        padding-top: 3px;
        position: relative;
        overflow: hidden;

        // gradient on first line and last line
        &:before {
            @include tile-gradient-right(0);
        }

        &:after {
            @include tile-gradient-right(($line-height-base * $font-size-base) * ($lines-of-text - 1));
        }
    }

    .product-tile-brand {
        white-space: nowrap;
    }

    .product-tile-price {
        height: ceil($h4-font-size * $line-height-base);
    }

    .product-tile-special-price {
        position: relative;
        height: ceil(($line-height-base * $font-size-sm));
        del {
            position: absolute;
            bottom: 0;
        }
    }

    .product-tile-media {
        // http://alistapart.com/article/creating-intrinsic-ratios-for-video
        display: block;
        height: 0;
        padding-bottom: $product-image-ratio * 100%;
        position: relative;
    }

    .product-tile-recurring {
        float:left;
        height: 20px;
        margin-right: 5px;
        width: 20px;
    }
}
