
@mixin tile-gradient-right($top) {
    content: '';
    position: absolute;
    top: $top;
    right: 0;
    width: 10%;
    height: $spacer;
    @include gradient-x(rgba(255,255,255,0), $body-bg, 0%, 100%);
    pointer-events: none;
}

@mixin banner-bg($parent, $color) {
    #{$parent} {
        background-color: transparentize($color, 0.2) !important;
    }
}

.search-results {
    > .row {
        align-items: stretch;

    }
}

.product-container {
    height: 100%;
    position: relative;
    z-index: 4;

    display: flex;
    flex: 1;
    align-content: stretch;

    &.active {
      z-index: 5;
    }
    @include media-breakpoint-up(sm) {
        //height: 60vw;
    }
    @include media-breakpoint-up(md) {
      height: 313px;
      display: block;
    }
    @include media-breakpoint-up(lg) {
      height: 313px;
    }
    @include media-breakpoint-up(xl) {
      height: 25vw;
    }
  }

.product-tile {
    position: static;
    $lines-of-text: 3;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    border: 1px solid $gray-200;

    @include media-breakpoint-down(md) {
        .slick-slide & {
            width: 100%;
        }
    }

    @include media-breakpoint-up(md) {
        display: block;
        max-height: 700px;
        border: none;
    }
  
    &-content {
        padding: $spacer;
        background: transparentize($color: $gray-200, $amount: 0.1);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include media-breakpoint-up(md) {
            display: block;
            width: 100%;
        }
        
        .slick-slide & {
            bottom: 0px;
            position: absolute;
            width: 100%;
        }
        flex: 1 1 auto;

    }

    .product-tile-button-container {
        padding-top: $spacer;
        text-align: center;
        position: relative;
        transition: all 0.3s ease-in-out;
    } 

    
    .variants {
        padding-top: $spacer;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;
        max-height: 0;
        opacity: 0;
        @include media-breakpoint-up(md){
            text-align: center;
        }
        .slick-slide & {
            opacity: 0;
            max-height: 0;
            padding-top: 0;
        }
    }
    


    @include media-breakpoint-up(md) {
        .product-tile-button-container, 
        .product-tile-select-btn-container, 
        .variants {
            opacity: 0;
            max-height: 0;
            padding-top: 0;
        }
     }

    &.active {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px 0px;
        
        transform: translate(0, -4px);
        z-index: 5;

        @include media-breakpoint-up(md) { 
            margin-left: -$spacer;
            margin-right: -$spacer;
        }

        
        .slick-slide & {
            margin-left: 0;
            margin-right: 0;
            transform: none;
        }

        .product-tile-button-container,
        .variants {
            opacity: 1;
            max-height: 200px;
            padding-top: $spacer;
        }

    }

    &.with-variants {
        .product-tile-select-btn-container {
            display: block;
            padding-top: $spacer;
            @include media-breakpoint-up(md) {
                display: none;
            }
        }


        @include media-breakpoint-down(md) {
            .product-tile-button-container {
                display: none;
            }
        }
    
        &.active{
            .variants {
                padding-top: $spacer*2;
                @include media-breakpoint-up(md){
                    padding-top: $spacer/2;
                }
            }

            .product-tile-button-container {
                display: block;
            }
            .product-tile-select-btn-container {
                display: none;
            }
        }
    }

    .product-tile-text {
        min-height: 60px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .product-tile-title {
        font-family: $font-product-title;
        @include media-breakpoint-up(md) {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
            min-height: 40px;
        }
    }


    .product-tile-brand {
        font-family: $font-product-brand;
        white-space: nowrap;
        font-weight: bold;
        font-size: small;
    }

    .product-tile-prices {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-end;
        justify-content: flex-end;
        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
            font-family: $font-family-base;
        }
    }

    .product-tile-media {
        flex: 1 0 40%;
        // http://alistapart.com/article/creating-intrinsic-ratios-for-video
        
        .slick-slide & {
            padding-bottom: 0;
        }

        @include media-breakpoint-up(sm) {
            z-index: -1;
            display: block;
            height: 0;
            //padding-bottom: $product-image-ratio * 100%;
            padding-bottom: 107%;
            position: relative;
            .slick-slide & {
                padding-bottom: 150%;
                z-index: auto;
            }
        }
        
        
   }

    .product-tile-recurring {
        float:left;
        height: 20px;
        margin-right: 5px;
        width: 20px;
    }

    .product-tile-ribbon{
        width: 110px;
        height: 110px;
        overflow: hidden;
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .product-tile-ribbon::before,
    .product-tile-ribbon::after {
        position: absolute;
        z-index: 9;
        content: '';
        display: block;
        border-top-color: transparent;
        border-right-color: transparent;
        border: 5px solid;
    }

    .product-tile-ribbon::before {
        top: 0;
        left: 0;
      }
    .product-tile-ribbon::after {
        bottom: 0;
        right: 0;
      }

    .product-tile-ribbon span { 
        position: absolute;
        display: block;
        width: 170px;
        padding: 5px 0;
        font: 500 10px/1 'Lato', sans-serif;
        text-transform: uppercase;
        text-align: center;
        left: -20px;
        top: 45px;
        transform: rotate(45deg);
        z-index: 10;
    }

    .product-tile-banner {
        position: absolute;
        bottom: 0;
        font-size: 14px;
        font-family: $font-family-base;
        text-align: center;

        @include media-breakpoint-up(md) {
            width: 100%;
        }
    }
    .product-tile-banner span {
        display: inline-block;
    }
    .product-tile-banner {
        @each $color,
        $value in $theme-colors {
            @include banner-bg(".bg-#{$color}", $value);
        }
    }
}


.variant-kva {
    margin-bottom: 8px;

    & > * {
        position: relative;
    }

    & > .disabled:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top right, transparent calc(50% - 1px), $secondary , transparent calc(50% + 1px) );
        z-index: 1;
    }
    & > .disabled.btn-primary:before {
        background: linear-gradient(to top right, transparent calc(50% - 1px), white , transparent calc(50% + 1px) );
    }

    &-color {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        @include media-breakpoint-up(md){
            justify-content: center;
        }
        
    }

    .kva-color {
        width: 1.8rem;
        cursor: pointer;
        height: 1.8rem;
        border: solid 1px $card-border-color;
        margin: 2px 5px;
        background: #fff;
        position: relative;
        &.active {
            border: solid 1px $primary;
        }
        &.disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }
    
        &-value {
            width: 80%;
            height: 80%;
            position: absolute;
            border: solid 1px $card-border-color;
            top: 10%;
            left: 10%;
        }
    
        &:hover, &.selected {
            border: solid 1px $dark;
            &.disabled {
                border: solid 1px $card-border-color;
            }
        }
    }
}

.product-tile-wishlist { 
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 10; 
}