@inherits RazorFunction
@using Composite.Core.Routing
@using Orckestra.Composer.Services;
@using Orckestra.ExperienceManagement.Configuration;
@using Orckestra.ExperienceManagement.Configuration.DataTypes;

@functions {
    public override string FunctionDescription
    {
        get { return "Initialize Composer Context Cookie Values"; }
    }

    public IComposerContext ComposerContext { get; set; }
}

@{
    var config = Data.Get<ISiteConfiguration>().FirstOrDefault(c => c.PageId == SitemapNavigator.CurrentHomePageId);

    if (config == null)
    {
        <p class="alert alert-danger">Commerce Setting is not configured for current website</p>
        return;
    }

    SiteConfiguration.CookieAccesserSettings.Name = $".CUST_{config.Scope}_{SitemapNavigator.CurrentHomePageId}";
    ComposerContext.Scope = config.Scope;
    ComposerContext.WebsiteId = SitemapNavigator.CurrentHomePageId;
}
