<span data-templateid="AddToCartSearch">
    {{#if IsAvailableToSell}}
            <button class="btn  btn-primary  text-uppercase"
                data-qa="search-buy-now"
                data-oc-click="addToCart">
            {{localize "General" "B_AddToCartProductList"}}
            <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
        </button>
        {{else}}
        <button class="btn  btn-primary  text-uppercase"
                data-qa="search-buy-now"
                data-oc-click="addToCart"
                disabled="disabled">
            {{localize "General" "B_AddToCartProductListOOS"}}
            <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
        </button>
    {{/if}}
</span>
