<div class="col-xs-12 col-md-8 col-md-push-4 col-mobile-flush">
    <ul class="nav nav-legal">
        {{#each OptionalLinkEntries}}
            <li><a href="{{Url}}" style="{{CssClass}}" target="{{UrlTarget}}" ><span>{{DisplayName}}</span></a></li>
        {{/each}}
    </ul>
</div>