{{#if PageTitle}}
<title>{{PageTitle}} | Better Retail</title>
{{/if}}
{{#if MetaKeywords}}
<meta name="keywords" content="{{MetaKeywords}}" />
{{/if}}
{{#if MetaDescription}}
<meta name="description" content="{{MetaDescription}}" />
{{/if}}
{{#if NoIndex}}
<meta name="robots" content="noindex" />
{{/if}}
{{#if CanonicalUrl}}
<link rel="canonical" href="{{CanonicalUrl}}" />
{{/if}}