
    <div class="panel panel-suggestion panel-empty hidden-xs">
        <div class="arrow_box"></div>
        <div class="panel-heading">{{localize 'General' 'L_Suggest_PossibleMatches'}}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <em>{{localize 'List-Search' 'NoResultAutoSuggest'}}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
