<ul class="nav main-nav-sticky">
    {{#each Entries}}
        <li><a data-qa="main-menu-sticky-link" href="{{Url}}" target="{{Target}}" style="{{CssClass}}"  >{{DisplayName}}</a></li>
    {{/each}}    
</ul>